.menu_futebol a{width:70px;background-position:-15px 0px;cursor:pointer;}
.menu_futebol-internacional a{width:75px;background-position:-105px 0px;cursor:pointer;}
.menu_223 a{width:65px;background-position:-192px 0px;cursor:pointer;}
.menu_motor a{width:65px;background-position:-295px 0px;cursor:pointer;}
.menu_formula1 a{width:70px;background-position:-378px 0px;cursor:pointer;}
.menu_basquete a{width:80px;background-position:-560px 0px;cursor:pointer;}
.menu_225 a{width:100px;background-position:-644px 0px;cursor:pointer;}
.menu_300 a{width:80px;background-position:-838px 0px;cursor:pointer;}
.menu_277 a{width:90px;background-position:-1010px 0px;cursor:pointer;}
.menu_224 a{width:60px;background-position:-481px 0px;cursor:pointer;}
.menu_420 a{width:75px;background-position:-289px 0px;cursor:pointer;}
.menu_101 a{width:65px;background-position:-750px 0px;cursor:pointer;}
.menu_volei a{width:65px;background-position:-2045px 0px;cursor:pointer;}
.menu_tenis a{width:70px;background-position:-192px 0px;cursor:pointer;}
.menu_futebol a:hover{background-position:-15px -70px;}
.menu_futebol-internacional a:hover{background-position:-105px -70px;}
.menu_223 a:hover{background-position:-192px -70px;}
.menu_motor a:hover{background-position:-295px -70px;}
.menu_formula1 a:hover{background-position:-378px -70px;}
.menu_basquete a:hover{background-position:-560px -70px;}
.menu_225 a:hover{background-position:-644px -70px;}
.menu_300 a:hover{background-position:-838px -70px;}
.menu_277 a:hover{background-position:-1010px -70px;}
.menu_224 a:hover{background-position:-481px -70px;}
.menu_420 a:hover{background-position:-289px -70px;}
.menu_101 a:hover{background-position:-750px -70px;}
.menu_volei a:hover{background-position:-2045px -70px;}
.menu_tenis a:hover{background-position:-192px -70px;}
.menu_futebol a.active{background-position:-15px -70px;}
.menu_futebol-internacional a.active{background-position:-105px -70px;}
.menu_223 a.active{background-position:-192px -70px;}
.menu_motor a.active{background-position:-295px -70px;}
.menu_formula1 a.active{background-position:-378px -70px;}
.menu_basquete a.active{background-position:-560px -70px;}
.menu_225 a.active{background-position:-644px -70px;}
.menu_300 a.active{background-position:-838px -70px;}
.menu_277 a.active{background-position:-1010px -70px;}
.menu_futebol-americano a.active{background-position:-481px -70px;}
.menu_420 a.active{background-position:-289px -70px;}
.menu_101 a:active{background-position:-750px -70px;}
.menu_volei a:active{background-position:-2045px -70px;}
.menu_tenis a.active{background-position:-192px -70px;}

a.submenu_holder{background:url(/public/assets/img/submenu_br.png) no-repeat;display:block;text-indent:0px;float:left;height:20px;color:#333;text-align:center;padding-top:52px;overflow:hidden;cursor:pointer;font-family:'Ubuntu Condensed',Arial,sans-serif;font-size:12px;text-transform:uppercase;font-weight:400;}
}


a.submenu_holder:hover{cursor:pointer;}
.submenu_1 a{width:45px;background-position:3px 3px;cursor:pointer;}
.submenu_2 a{width:45px;background-position:-42px 3px;cursor:pointer;}
.submenu_3 a{width:50px;background-position:-87px 3px;cursor:pointer;}
.submenu_4 a{width:50px;background-position:-132px 3px;cursor:pointer;}
.submenu_5 a{width:45px;background-position:-182px 3px;cursor:pointer;}
.submenu_6 a{width:50px;background-position:-228px 3px;cursor:pointer;}
.submenu_7 a{width:45px;background-position:-275px 3px;cursor:pointer;}
.submenu_8 a{width:50px;background-position:-322px 2px;cursor:pointer;}
.submenu_9 a{width:50px;background-position:-372px 3px;cursor:pointer;}
.submenu_10 a{width:45px;background-position:-421px 3px;cursor:pointer;}
.submenu_11 a{width:45px;background-position:-465px 3px;cursor:pointer;}
.submenu_12 a{width:45px;background-position:-512px 3px;cursor:pointer;}
.submenu_13 a{width:45px;background-position:-562px 3px;cursor:pointer;}
.submenu_14 a{width:50px;background-position:-612px 3px;cursor:pointer;}
.submenu_15 a{width:50px;background-position:-660px 3px;cursor:pointer;}
.submenu_16 a{width:50px;background-position:-710px 3px;cursor:pointer;}
.submenu_17 a{width:50px;background-position:-762px 3px;cursor:pointer;}
.submenu_18 a{width:50px;background-position:-815px 3px;cursor:pointer;}
.submenu_19 a{width:50px;background-position:-865px 3px;cursor:pointer;}
.submenu_20 a{width:50px;background-position:-912px 3px;cursor:pointer;}
.submenu_1 a:hover{background-position:0px -115px;cursor:pointer;}
.submenu_2 a:hover{background-position:-42px -115px;cursor:pointer;}
.submenu_3 a:hover{background-position:-87px -115px;cursor:pointer;}
.submenu_4 a:hover{background-position:-132px -115px;cursor:pointer;}
.submenu_5 a:hover{background-position:-182px -115px;cursor:pointer;}
.submenu_6 a:hover{background-position:-228px -115px;cursor:pointer;}
.submenu_7 a:hover{background-position:-275px -115px;cursor:pointer;}
.submenu_8 a:hover{background-position:-322px -115px;cursor:pointer;}
.submenu_9 a:hover{background-position:-372px -115px;cursor:pointer;}
.submenu_10 a:hover{background-position:-421px -115px;cursor:pointer;}
.submenu_11 a:hover{background-position:-465px -115px;cursor:pointer;}
.submenu_12 a:hover{background-position:-512px -115px;cursor:pointer;}
.submenu_13 a:hover{background-position:-562px -115px;cursor:pointer;}
.submenu_14 a:hover{background-position:-612px -115px;cursor:pointer;}
.submenu_15 a:hover{background-position:-660px -115px;cursor:pointer;}
.submenu_16 a:hover{background-position:-710px -115px;cursor:pointer;}
.submenu_17 a:hover{background-position:-762px -115px;cursor:pointer;}
.submenu_18 a:hover{background-position:-815px -115px;cursor:pointer;}
.submenu_19 a:hover{background-position:-865px -115px;cursor:pointer;}
.submenu_20 a:hover{background-position:-912px -115px;cursor:pointer;}
    .submenu_vavel{height:77px;padding-top: 4px;background-color:#EEE;background-image:url(/public/assets/img/bg_submenu_80.png)}