a.submenu_holder{background:url(/public/assets/img/submenu_colombia.png) no-repeat;display:block;text-indent:0px;float:left;height:20px;color:#333;text-align:center;padding-top:52px;overflow:hidden;cursor:pointer;font-family:'Ubuntu Condensed',Arial,sans-serif;font-size:12px;text-transform:uppercase;font-weight:400;}
}
a.submenu_holder:hover{cursor:pointer;}
.submenu_1 a{width:50px;background-position:6px 0px;cursor:pointer;}
.submenu_2 a{width:50px;background-position:-41px 0px;cursor:pointer;}
.submenu_3 a{width:50px;background-position:-87px 0px;cursor:pointer;}
.submenu_4 a{width:50px;background-position:-133px 0px;cursor:pointer;}
.submenu_5 a{width:50px;background-position:-182px 0px;cursor:pointer;}
.submenu_6 a{width:40px;background-position:-233px 0px;cursor:pointer;}
.submenu_7 a{width:50px;background-position:-275px 0px;cursor:pointer;}
.submenu_8 a{width:50px;background-position:-322px 0px;cursor:pointer;}
.submenu_9 a{width:45px;background-position:-373px 0px;cursor:pointer;}
.submenu_10 a{width:50px;background-position:-417px 0px;cursor:pointer;}
.submenu_11 a{width:45px;background-position:-468px 0px;cursor:pointer;}
.submenu_12 a{width:50px;background-position:-514px 0px;cursor:pointer;}
.submenu_13 a{width:50px;background-position:-562px 0px;cursor:pointer;}
.submenu_14 a{width:45px;background-position:-613px 0px;cursor:pointer;}
.submenu_15 a{width:45px;background-position:-662px 0px;cursor:pointer;}
.submenu_16 a{width:45px;background-position:-711px 0px;cursor:pointer;}
.submenu_17 a{width:50px;background-position:-762px 0px;cursor:pointer;}
.submenu_18 a{width:50px;background-position:-815px 0px;cursor:pointer;}
.submenu_19 a{width:50px;background-position:-865px 0px;cursor:pointer;}
.submenu_20 a{width:45px;background-position:-915px 0px;cursor:pointer;}
.submenu_1 a:hover{background-position:6px -115px;cursor:pointer;}
.submenu_2 a:hover{background-position:-41px -115px;cursor:pointer;}
.submenu_3 a:hover{background-position:-87px -115px;cursor:pointer;}
.submenu_4 a:hover{background-position:-133px -115px;cursor:pointer;}
.submenu_5 a:hover{background-position:-182px -115px;cursor:pointer;}
.submenu_6 a:hover{background-position:-233px -115px;cursor:pointer;}
.submenu_7 a:hover{background-position:-275px -115px;cursor:pointer;}
.submenu_8 a:hover{background-position:-322px -115px;cursor:pointer;}
.submenu_9 a:hover{background-position:-373px -115px;cursor:pointer;}
.submenu_10 a:hover{background-position:-417px -115px;cursor:pointer;}
.submenu_11 a:hover{background-position:-468px -115px;cursor:pointer;}
.submenu_12 a:hover{background-position:-514px -115px;cursor:pointer;}
.submenu_13 a:hover{background-position:-562px -115px;cursor:pointer;}
.submenu_14 a:hover{background-position:-613px -115px;cursor:pointer;}
.submenu_15 a:hover{background-position:-662px -115px;cursor:pointer;}
.submenu_16 a:hover{background-position:-711px -115px;cursor:pointer;}
.submenu_17 a:hover{background-position:-762px -115px;cursor:pointer;}
.submenu_18 a:hover{background-position:-815px -115px;cursor:pointer;}
.submenu_19 a:hover{background-position:-865px -115px;cursor:pointer;}
.submenu_20 a:hover{background-position:-915px -115px;cursor:pointer;}
    .submenu_vavel{height:77px;padding-top: 10px;background-color:#EEE;background-image:url(/public/assets/img/bg_submenu_80.png)}