.menu_315 a{width:75px;background-position:-10px 0px;cursor:pointer;}.menu_302 a{width:70px;background-position:-104px 0px;cursor:pointer;}.menu_303 a{width:70px;background-position:-192px 0px;cursor:pointer;}.menu_306 a{width:85px;background-position:-284px 0px;cursor:pointer;}.menu_305 a{width:75px;background-position:-374px 0px;cursor:pointer;}.menu_311 a{width:90px;background-position:-552px 0px;cursor:pointer;}.menu_308 a{width:85px;background-position:-648px 0px;cursor:pointer;}.menu_300 a{width:75px;background-position:-838px 0px;cursor:pointer;}.menu_276 a{width:75px;background-position:-1015px 0px;cursor:pointer;}.menu_304 a{width:65px;background-position:-479px 0px;cursor:pointer;}.menu_1328 a{width:70px;background-position:-1844px 0px;cursor:pointer;}.menu_315 a:hover{background-position:-10px -70px;}.menu_302 a:hover{background-position:-104px -70px;}.menu_303 a:hover{background-position:-192px -70px;}.menu_306 a:hover{background-position:-284px -70px;}.menu_305 a:hover{background-position:-374px -70px;}.menu_311 a:hover{background-position:-552px -70px;}.menu_308 a:hover{background-position:-648px -70px;}.menu_300 a:hover{background-position:-838px -70px;}.menu_276 a:hover{background-position:-1015px -70px;}.menu_304 a:hover{background-position:-479px -70px;}.menu_1328 a:hover{background-position:-1844px -70px;}.menu_315 a.active{background-position:-10px -70px;}.menu_302 a.active{background-position:-104px -70px;}.menu_303 a.active{background-position:-192px -70px;}.menu_306 a.active{background-position:-284px -70px;}.menu_305 a.active{background-position:-374px -70px;}.menu_311 a.active{background-position:-552px -70px;}.menu_308 a.active{background-position:-648px -70px;}.menu_300 a.active{background-position:-838px -70px;}.menu_276 a.active{background-position:-1015px -70px;}.menu_304 a.active{background-position:-479px -70px;}.menu_1328 a.active{background-position:-1844px -70px;}a.submenu_holder{background:url(/public/assets/img/submenu_uk.png) no-repeat;display:block;text-indent:0px;float:left;height:20px;color:#333;text-align:center;padding-top:52px;overflow:hidden;cursor:pointer;font-family:'Ubuntu Condensed',Arial,sans-serif;font-size:12px;text-transform:uppercase;font-weight:400;}
a.submenu_holder:hover{cursor:pointer;}
.submenu_1 a{width:45px;background-position:2px 0px;cursor:pointer;}
.submenu_2 a{width:45px;background-position:-42px 0px;cursor:pointer;}
.submenu_3 a{width:45px;background-position:-89px 0px;cursor:pointer;}
.submenu_4 a{width:50px;background-position:-132px 0px;cursor:pointer;}
.submenu_5 a{width:45px;background-position:-182px 0px;cursor:pointer;}
.submenu_6 a{width:50px;background-position:-228px 0px;cursor:pointer;}
.submenu_7 a{width:50px;background-position:-275px 0px;cursor:pointer;}
.submenu_8 a{width:50px;background-position:-322px 0px;cursor:pointer;}
.submenu_9 a{width:50px;background-position:-372px 0px;cursor:pointer;}
.submenu_10 a{width:50px;background-position:-417px 0px;cursor:pointer;}
.submenu_11 a{width:50px;background-position:-465px 0px;cursor:pointer;}
.submenu_12 a{width:45px;background-position:-514px 3px;cursor:pointer;}
.submenu_13 a{width:45px;background-position:-562px 0px;cursor:pointer;}
.submenu_14 a{width:50px;background-position:-610px 0px;cursor:pointer;}
.submenu_15 a{width:50px;background-position:-660px 0px;cursor:pointer;}
.submenu_16 a{width:50px;background-position:-710px 0px;cursor:pointer;}
.submenu_17 a{width:35px;background-position:-770px 0px;cursor:pointer;}
.submenu_18 a{width:50px;background-position:-815px 3px;cursor:pointer;}
.submenu_19 a{width:50px;background-position:-865px 3px;cursor:pointer;}
.submenu_20 a{width:50px;background-position:-912px 4px;cursor:pointer;}
.submenu_1 a:hover{background-position:2px -115px;cursor:pointer;}
.submenu_2 a:hover{background-position:-42px -115px;cursor:pointer;}
.submenu_3 a:hover{background-position:-87px -115px;cursor:pointer;}
.submenu_4 a:hover{background-position:-132px -115px;cursor:pointer;}
.submenu_5 a:hover{background-position:-182px -115px;cursor:pointer;}
.submenu_6 a:hover{background-position:-228px -115px;cursor:pointer;}
.submenu_7 a:hover{background-position:-275px -115px;cursor:pointer;}
.submenu_8 a:hover{background-position:-322px -115px;cursor:pointer;}
.submenu_9 a:hover{background-position:-372px -115px;cursor:pointer;}
.submenu_10 a:hover{background-position:-417px -115px;cursor:pointer;}
.submenu_11 a:hover{background-position:-465px -115px;cursor:pointer;}
.submenu_12 a:hover{background-position:-514px -115px;cursor:pointer;}
.submenu_13 a:hover{background-position:-562px -115px;cursor:pointer;}
.submenu_14 a:hover{background-position:-610px -115px;cursor:pointer;}
.submenu_15 a:hover{background-position:-660px -115px;cursor:pointer;}
.submenu_16 a:hover{background-position:-710px -115px;cursor:pointer;}
.submenu_17 a:hover{background-position:-762px -115px;cursor:pointer;}
.submenu_18 a:hover{background-position:-815px -115px;cursor:pointer;}
.submenu_19 a:hover{background-position:-865px -115px;cursor:pointer;}
.submenu_20 a:hover{background-position:-912px -115px;cursor:pointer;}
.submenu_vavel{height:77px;padding-top: 10px;background-color:#EEE;background-image:url(/public/assets/img/bg_submenu_80.png)}