.menu_219 a{width:65px;background-position:-15px 0px;cursor:pointer;}.menu_220 a{width:75px;background-position:-102px 0px;cursor:pointer;}.menu_223 a{width:65px;background-position:-192px 0px;cursor:pointer;}.menu_306 a{width:90px;background-position:-284px 0px;cursor:pointer;}.menu_222 a{width:85px;background-position:-372px 0px;cursor:pointer;}.menu_295 a{width:75px;background-position:-563px 0px;cursor:pointer;}.menu_225 a{width:100px;background-position:-644px 0px;cursor:pointer;}.menu_300 a{width:80px;background-position:-838px 0px;cursor:pointer;}.menu_277 a{width:90px;background-position:-1010px 0px;cursor:pointer;}.menu_224 a{width:80px;background-position:-470px 0px;cursor:pointer;}.menu_420 a{width:75px;background-position:-289px 0px;cursor:pointer;}.menu_219 a:hover{background-position:-15px -70px;}.menu_220 a:hover{background-position:-102px -70px;}.menu_223 a:hover{background-position:-192px -70px;}.menu_306 a:hover{background-position:-284px -70px;}.menu_222 a:hover{background-position:-372px -70px;}.menu_295 a:hover{background-position:-563px -70px;}.menu_225 a:hover{background-position:-644px -70px;}.menu_300 a:hover{background-position:-838px -70px;}.menu_277 a:hover{background-position:-1010px -70px;}.menu_224 a:hover{background-position:-470px -70px;}.menu_420 a:hover{background-position:-289px -70px;}.menu_219 a.active{background-position:-15px -70px;}.menu_220 a.active{background-position:-102px -70px;}.menu_223 a.active{background-position:-192px -70px;}.menu_306 a.active{background-position:-284px -70px;}.menu_222 a.active{background-position:-372px -70px;}.menu_295 a.active{background-position:-563px -70px;}.menu_225 a.active{background-position:-644px -70px;}.menu_300 a.active{background-position:-838px -70px;}.menu_277 a.active{background-position:-1010px -70px;}.menu_224 a.active{background-position:-470px -70px;}.menu_420 a.active{background-position:-289px -70px;}a.submenu_holder{background:url(/public/assets/img/submenu_fr.png) no-repeat;display:block;text-indent:0px;float:left;height:20px;color:#333;text-align:center;padding-top:52px;overflow:hidden;cursor:pointer;font-family:'Ubuntu Condensed',Arial,sans-serif;font-size:12px;text-transform:uppercase;font-weight:400;}
}
a.submenu_holder:hover{cursor:pointer;}
.submenu_1 a{width:50px;background-position:4px 0px;cursor:pointer;}
.submenu_2 a{width:40px;background-position:-47px 0px;cursor:pointer;}
.submenu_3 a{width:50px;background-position:-88px 0px;cursor:pointer;}
.submenu_4 a{width:50px;background-position:-133px 0px;cursor:pointer;}
.submenu_5 a{width:45px;background-position:-185px 0px;cursor:pointer;}
.submenu_6 a{width:50px;background-position:-227px 0px;cursor:pointer;}
.submenu_7 a{width:45px;background-position:-279px 0px;cursor:pointer;}
.submenu_8 a{width:50px;background-position:-323px 0px;cursor:pointer;}
.submenu_9 a{width:50px;background-position:-372px 0px;cursor:pointer;}
.submenu_10 a{width:45px;background-position:-424px 0px;cursor:pointer;}
.submenu_11 a{width:45px;background-position:-472px 0px;cursor:pointer;}
.submenu_12 a{width:45px;background-position:-518px 0px;cursor:pointer;}
.submenu_13 a{width:45px;background-position:-566px 0px;cursor:pointer;}
.submenu_14 a{width:50px;background-position:-612px 0px;cursor:pointer;}
.submenu_15 a{width:50px;background-position:-660px 0px;cursor:pointer;}
.submenu_16 a{width:50px;background-position:-710px 0px;cursor:pointer;}
.submenu_17 a{width:50px;background-position:-762px 0px;cursor:pointer;}
.submenu_18 a{width:50px;background-position:-818px 0px;cursor:pointer;}
.submenu_19 a{width:50px;background-position:-863px 0px;cursor:pointer;}
.submenu_20 a{width:50px;background-position:-912px 0px;cursor:pointer;}
.submenu_1 a:hover{background-position:4px -115px;cursor:pointer;}
.submenu_2 a:hover{background-position:-47px -115px;cursor:pointer;}
.submenu_3 a:hover{background-position:-88px -115px;cursor:pointer;}
.submenu_4 a:hover{background-position:-133px -115px;cursor:pointer;}
.submenu_5 a:hover{background-position:-185px -115px;cursor:pointer;}
.submenu_6 a:hover{background-position:-227px -115px;cursor:pointer;}
.submenu_7 a:hover{background-position:-279px -115px;cursor:pointer;}
.submenu_8 a:hover{background-position:-323px -115px;cursor:pointer;}
.submenu_9 a:hover{background-position:-372px -115px;cursor:pointer;}
.submenu_10 a:hover{background-position:-424px -115px;cursor:pointer;}
.submenu_11 a:hover{background-position:-472px -115px;cursor:pointer;}
.submenu_12 a:hover{background-position:-518px -115px;cursor:pointer;}
.submenu_13 a:hover{background-position:-566px -115px;cursor:pointer;}
.submenu_14 a:hover{background-position:-612px -115px;cursor:pointer;}
.submenu_15 a:hover{background-position:-660px -115px;cursor:pointer;}
.submenu_16 a:hover{background-position:-710px -115px;cursor:pointer;}
.submenu_17 a:hover{background-position:-762px -115px;cursor:pointer;}
.submenu_18 a:hover{background-position:-818px -115px;cursor:pointer;}
.submenu_19 a:hover{background-position:-863px -115px;cursor:pointer;}
.submenu_20 a:hover{background-position:-912px -115px;cursor:pointer;}
    .submenu_vavel{height:77px;padding-top: 10px;background-color:#EEE;background-image:url(/public/assets/img/bg_submenu_80.png)}