.menu_177 a{width:75px;background-position:-10px 0px;cursor:pointer;}.menu_178 a{width:70px;background-position:-104px 0px;cursor:pointer;}.menu_180 a{width:70px;background-position:-192px 0px;cursor:pointer;}.menu_183 a{width:75px;background-position:-289px 0px;cursor:pointer;}.menu_182 a{width:75px;background-position:-374px 0px;cursor:pointer;}.menu_181 a{width:75px;background-position:-562px 0px;cursor:pointer;}.menu_184 a{width:85px;background-position:-648px 0px;cursor:pointer;}.menu_300 a{width:75px;background-position:-838px -1px;cursor:pointer;}.menu_301 a{width:95px;background-position:-828px -3px;cursor:pointer;}.menu_276 a{width:75px;background-position:-1015px 0px;cursor:pointer;}.menu_newspaper a{width:105px;}.menu_177 a:hover{background-position:-10px -70px;}.menu_178 a:hover{background-position:-104px -70px;}.menu_180 a:hover{background-position:-192px -70px;}.menu_183 a:hover{background-position:-289px -70px;}.menu_182 a:hover{background-position:-374px -70px;}.menu_181 a:hover{background-position:-552px -70px;}.menu_184 a:hover{background-position:-648px -70px;}.menu_300 a:hover{background-position:-838px -71px;}.menu_301 a:hover{background-position:-828px -73px;}.menu_276 a:hover{background-position:-1015px -70px;}.menu_177 a.active{background-position:-10px -70px;}.menu_178 a.active{background-position:-104px -70px;}.menu_180 a.active{background-position:-192px -70px;}.menu_183 a.active{background-position:-289px -70px;}.menu_182 a.active{background-position:-374px -70px;}.menu_181 a.active{background-position:-552px -70px;}.menu_184 a.active{background-position:-648px -70px;}.menu_300 a.active{background-position:-838px -71px;}.menu_301 a.active{background-position:-828px -73px;}.menu_276 a.active{background-position:-1015px -70px;}a.submenu_holder{background:url(/public/assets/img/submenu_it.png) no-repeat;display:block;text-indent:0px;float:left;height:20px;color:#333;text-align:center;padding-top:52px;overflow:hidden;cursor:pointer;font-family:'Ubuntu Condensed',Arial,sans-serif;font-size:12px;text-transform:uppercase;font-weight:400;}
}
a.submenu_holder:hover{cursor:pointer;}
.submenu_1 a{width:45px;background-position:2px 1px;cursor:pointer;}
.submenu_2 a{width:45px;background-position:-42px 0px;cursor:pointer;}
.submenu_3 a{width:45px;background-position:-90px 0px;cursor:pointer;}
.submenu_4 a{width:50px;background-position:-132px 0px;cursor:pointer;}
.submenu_5 a{width:45px;background-position:-182px 3px;cursor:pointer;}
.submenu_6 a{width:50px;background-position:-230px 3px;cursor:pointer;}
.submenu_7 a{width:45px;background-position:-279px 0px;cursor:pointer;}
.submenu_8 a{width:45px;background-position:-326px 0px;cursor:pointer;}
.submenu_9 a{width:45px;background-position:-375px 0px;cursor:pointer;}
.submenu_10 a{width:45px;background-position:-421px 0px;cursor:pointer;}
.submenu_11 a{width:55px;background-position:-463px 0px;cursor:pointer;}
.submenu_12 a{width:45px;background-position:-514px 0px;cursor:pointer;}
.submenu_13 a{width:55px;background-position:-556px 0px;cursor:pointer;}
.submenu_14 a{width:50px;background-position:-609px 0px;cursor:pointer;}
.submenu_15 a{width:50px;background-position:-660px 0px;cursor:pointer;}
.submenu_16 a{width:50px;background-position:-708px 0px;cursor:pointer;}
.submenu_17 a{width:50px;background-position:-765px 0px;cursor:pointer;}
.submenu_18 a{width:50px;background-position:-810px 0px;cursor:pointer;}
.submenu_19 a{width:30px;background-position:-862px 0px;cursor:pointer;}
.submenu_20 a{width:60px;background-position:-896px 0px;cursor:pointer;}
.submenu_1 a:hover{background-position:2px -115px;cursor:pointer;}
.submenu_2 a:hover{background-position:-42px -115px;cursor:pointer;}
.submenu_3 a:hover{background-position:-90px -115px;cursor:pointer;}
.submenu_4 a:hover{background-position:-132px -115px;cursor:pointer;}
.submenu_5 a:hover{background-position:-182px -115px;cursor:pointer;}
.submenu_6 a:hover{background-position:-230px -115px;cursor:pointer;}
.submenu_7 a:hover{background-position:-279px -115px;cursor:pointer;}
.submenu_8 a:hover{background-position:-326px -115px;cursor:pointer;}
.submenu_9 a:hover{background-position:-375px -115px;cursor:pointer;}
.submenu_10 a:hover{background-position:-421px -115px;cursor:pointer;}
.submenu_11 a:hover{background-position:-463px -115px;cursor:pointer;}
.submenu_12 a:hover{background-position:-514px -115px;cursor:pointer;}
.submenu_13 a:hover{background-position:-556px -115px;cursor:pointer;}
.submenu_14 a:hover{background-position:-609px -115px;cursor:pointer;}
.submenu_15 a:hover{background-position:-660px -115px;cursor:pointer;}
.submenu_16 a:hover{background-position:-708px -115px;cursor:pointer;}
.submenu_17 a:hover{background-position:-765px -115px;cursor:pointer;}
.submenu_18 a:hover{background-position:-810px -115px;cursor:pointer;}
.submenu_19 a:hover{background-position:-862px -115px;cursor:pointer;}
.submenu_20 a:hover{background-position:-896px -115px;cursor:pointer;}
    .submenu_vavel{height:77px;padding-top: 10px;background-color:#EEE;background-image:url(/public/assets/img/bg_submenu_80.png)}