.menu_357 a,.menu_577 a{width:90px;background-position:-2px 0px;cursor:pointer;}.menu_220 a{width:75px;background-position:-102px 0px;cursor:pointer;}.menu_223 a,.menu_267 a{width:65px;background-position:-192px 0px;cursor:pointer;}.menu_306 a{width:90px;background-position:-284px 0px;cursor:pointer;}.menu_222 a{width:85px;background-position:-372px 0px;cursor:pointer;}.menu_295 a,.menu_266 a{width:75px;background-position:-563px 0px;cursor:pointer;}.menu_225 a,.menu_269 a{width:100px;background-position:-644px 0px;cursor:pointer;}.menu_300 a{width:80px;background-position:-838px 0px;cursor:pointer;}.menu_277 a{width:90px;background-position:-1010px 0px;cursor:pointer;}.menu_224 a{width:80px;background-position:-470px 0px;cursor:pointer;}.menu_420 a{width:75px;background-position:-289px 0px;cursor:pointer;}.menu_1371 a{width:70px;background-position:-1844px 0px;cursor:pointer;}.menu_1371 a:hover{width:70px;background-position:-1844px -70px;cursor:pointer;}.menu_357 a:hover,.menu_577 a:hover{background-position:-2px -70px;}.menu_220 a:hover{background-position:-102px -70px;}.menu_223 a:hover,.menu_267 a:hover{background-position:-192px -70px;}.menu_306 a:hover{background-position:-284px -70px;}.menu_222 a:hover{background-position:-372px -70px;}.menu_295 a:hover,.menu_266 a:hover{background-position:-563px -70px;}.menu_225 a:hover,.menu_269 a:hover{background-position:-644px -70px;}.menu_300 a:hover{background-position:-838px -70px;}.menu_277 a:hover{background-position:-1010px -70px;}.menu_224 a:hover{background-position:-470px -70px;}.menu_420 a:hover{background-position:-289px -70px;}.menu_357 a.active,.menu_577 a.active{background-position:-2px -70px;}.menu_220 a.active{background-position:-102px -70px;}.menu_223 a.active,.menu_267 a.active{background-position:-192px -70px;}.menu_306 a.active{background-position:-284px -70px;}.menu_222 a.active{background-position:-372px -70px;}.menu_295 a.active,.menu_266 a.active{background-position:-563px -70px;}.menu_225 a.active,.menu_269 a.active{background-position:-644px -70px;}.menu_300 a.active{background-position:-838px -70px;}.menu_277 a.active{background-position:-1010px -70px;}.menu_224 a.active{background-position:-470px -70px;}.menu_420 a.active{background-position:-289px -70px;}a.submenu_holder_arg{background:url(/public/assets/img/submenu_mx.png) no-repeat;display:block;height:45px;text-indent:-9999px;cursor:pointer;float:left;}a.submenu_holder{background:url(https://www.vavel.com/themes/default/img/sumenu_mx_960_2016.png) no-repeat;display:block;text-indent:0px;float:left;height:20px;color:#333;text-align:center;padding-top:52px;overflow:hidden;cursor:pointer;font-family:'Ubuntu Condensed',Arial,sans-serif;font-size:12px;text-transform:uppercase;font-weight:400;}}a.submenu_holder:hover{cursor:pointer;}
ul#submenu_holder li:first-child  {
    width: 100px;
}
.submenu_1 a{width:90px;background-position:3px 0px;cursor:pointer;}
.submenu_2 a{width:45px;background-position:-42px 0px;cursor:pointer;}
.submenu_3 a{width:50px;background-position:-87px 0px;cursor:pointer;}
.submenu_4 a{width:50px;background-position:-132px 0px;cursor:pointer;}
.submenu_5 a{width:50px;background-position:-181px 0px;cursor:pointer;}
.submenu_6 a{width:45px;background-position:-230px 0px;cursor:pointer;}
.submenu_7 a{width:45px;background-position:-275px 0px;cursor:pointer;}
.submenu_8 a{width:50px;background-position:-322px 0px;cursor:pointer;}
.submenu_9 a{width:50px;background-position:-372px 0px;cursor:pointer;}
.submenu_10 a{width:45px;background-position:-421px 0px;cursor:pointer;}
.submenu_11 a{width:45px;background-position:-465px 0px;cursor:pointer;}
.submenu_12 a{width:45px;background-position:-512px 0px;cursor:pointer;}
.submenu_13 a{width:55px;background-position:-562px 0px;cursor:pointer;}
.submenu_14 a{width:45px;background-position:-615px 0px;cursor:pointer;}
.submenu_15 a{width:45px;background-position:-662px 0px;cursor:pointer;}
.submenu_16 a{width:45px;background-position:-710px 0px;cursor:pointer;}
.submenu_17 a{width:50px;background-position:-762px 0px;cursor:pointer;}
.submenu_18 a{width:50px;background-position:-815px 0px;cursor:pointer;}
.submenu_19 a{width:50px;background-position:-865px 0px;cursor:pointer;}
.submenu_20 a{width:50px;background-position:-914px 0px;cursor:pointer;}
.submenu_1 a:hover{background-position:0px -115px;cursor:pointer;}
.submenu_2 a:hover{background-position:-42px -115px;cursor:pointer;}
.submenu_3 a:hover{background-position:-87px -115px;cursor:pointer;}
.submenu_4 a:hover{background-position:-132px -115px;cursor:pointer;}
.submenu_5 a:hover{background-position:-182px -115px;cursor:pointer;}
.submenu_6 a:hover{background-position:-228px -115px;cursor:pointer;}
.submenu_7 a:hover{background-position:-275px -115px;cursor:pointer;}
.submenu_8 a:hover{background-position:-322px -115px;cursor:pointer;}
.submenu_9 a:hover{background-position:-372px -115px;cursor:pointer;}
.submenu_10 a:hover{background-position:-421px -115px;cursor:pointer;}
.submenu_11 a:hover{background-position:-465px -115px;cursor:pointer;}
.submenu_12 a:hover{background-position:-512px -115px;cursor:pointer;}
.submenu_13 a:hover{background-position:-562px -115px;cursor:pointer;}
.submenu_14 a:hover{background-position:-612px -115px;cursor:pointer;}
.submenu_15 a:hover{background-position:-660px -115px;cursor:pointer;}
.submenu_16 a:hover{background-position:-710px -115px;cursor:pointer;}
.submenu_17 a:hover{background-position:-762px -115px;cursor:pointer;}
.submenu_18 a:hover{background-position:-815px -115px;cursor:pointer;}
.submenu_19 a:hover{background-position:-865px -115px;cursor:pointer;}
.submenu_20 a:hover{background-position:-912px -115px;cursor:pointer;}
    .submenu_vavel{height:77px;padding-top: 10px;background-color:#EEE;background-image:url(/public/assets/img/bg_submenu_80.png)}