// Cada media query tiene su correspondiente versión para altas resoluciones.
// La única diferencia es la forma de definir el media query, con el prefijo
// `only screen`.
@mixin retina($pixelRation: 2) {
  @media only screen and (-webkit-min-device-pixel-ratio: $pixelRation) {
    @content;
  }
}

@mixin degradado {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…gd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g);
  background: -webkit-gradient(linear, 50% 100%, 50% 0, color-stop(0, rgba(0, 0, 0, 0.9)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
}