.searchbox {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  // width: 100%;
  $padding: 10px;
  // background-color: #fff;
  border-radius: 3px;
  .new-search-results {
    max-height: 85vh;
    overflow-y: auto;
    background-color: #fff;
  }
  .search-input {
    padding-left: 20px;
  }
  .result-container {
    margin-top: 10px;
    overflow: hidden;
  }
  .result-title {
    color: #444;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, .12);
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    display: block;
    padding-left: $padding;
    font-weight: bold;
    font-size: 18px;
    height: 44px;
    line-height: 44px;
  }
  .result-article-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .result-date {
    font-size: 14px;
    color: #666;
  }
  .result-article,
  .result-item {
    cursor: pointer;
    padding: $padding;
    display: block;
    font-size: 16px;
    color: #444;
    transition: all 125ms ease-in-out;
    &:hover {
      color: #444 !important;
      background-color: rgba(0, 0, 0, .12);
    }
  }
  .result-item {
    //
  }
  .result-article {
    display: flex;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, .1);
    }
    img {
      $size: 45px;
      width: $size;
      height: $size;
      margin-right: $padding;
      border-radius: 2px;
      align-self: center;
    }
  }
}