@import './_mixins';

.dropdown-content {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 3px;
}

.dropdown-content a:hover {
  color: #333 !important;
  transition: all 125ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.12) !important;
}

.main_news_category {
  display: inline-block;
}

.modal-fullscreen {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 767px) {
  .main_news_category {
    display: inline-block;
  }
}
@include retina(2) {
  @media only screen and (max-width: 767px) {
    .main_news_category {
      display: inline-block;
    }
  }
}

.submenu_liquid>ul {
  display: flex;
  justify-content: space-between;
}

.new-sidemenu {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  &.active {
    left: 0;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
  }
  position: fixed;
  overflow-y: auto;
  max-width: 320px;
  left: -320px;
  transition: left 125ms ease-out;
  min-width: 56px;
  width: calc(100% - 56px);
  height: 100%;
  background-color: #fff;
  z-index: 100;
  &--clubs {
    ul {
      display: flex;
      flex-wrap: wrap;
      align-content: space-around;
      li {
        a {
          box-sizing: content-box;
        }
        flex: 1;
        margin: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
  .divider {
    margin-top: 10px;
  }
  &--categories {
    $itemPadding: 19px;
    $itemSize: 18px;
    $transitionDuration: 250ms;
    a {
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: space-between;
      color: #333;
      padding: $itemPadding;
      font-size: $itemSize;
      text-transform: uppercase;
      font-family: 'Ubuntu Condensed', Arial, Helvetica, sans-serif;
      transition: background-color 125ms ease-in-out !important;
      i {
        border-top-color: #333;
        top: 0;
        left: 0;
        transition: transform $transitionDuration ease-in-out;
      }
      &:hover {
        color: #333 !important;
        background-color: rgba(0, 0, 0, 0.12);
      }
    }
    >li {
      max-height: 2*$itemPadding + $itemSize;
      overflow: hidden;
      border-bottom: 1px solid rgba(0, 0, 0, .12);
      transition: all $transitionDuration ease-in-out;
      &.expanded {
        max-height: $itemPadding + $itemSize + 1000px; // Calcular con JS
        >a {
          box-shadow: 4px 0 0 rgba(0, 0, 0, .5) inset;
          i {
            transform: rotate(180deg);
          }
        }
      }
    }
    /* &--submenu {
      a {
        padding: $itemPadding - 8px;
        padding-left: $itemPadding + 10px;
      }
    } */
  }
}

.divider {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12)
}

@media (max-width: 480px) {
  .new-sidemenu {
    &--clubs {
      ul li {
        margin-left: 0;
      }
    }
  }
}
@include retina(2) {
  @media only screen and (max-width: 480px) {
    .new-sidemenu {
      &--clubs {
        ul li {
          margin-left: 0;
        }
      }
    }
  }
}

@include retina(2) {
  .new-sidemenu--clubs ul li {
    // http://stackoverflow.com/questions/29986668/flex-wrap-not-working-as-expected-in-safari
    flex: 1 1 auto;
  }
}