@import './_mixins';

$margin: 4px;
$min-height: 160px;
$max-width: 330px;
$min-width: 270px; // Ancho mínimo en ArticlesCollection.js
// $min-width: 330px; // Ancho mínimo en ArticlesCollection.js
@mixin gridable {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.grid-article {
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  border-radius: 3px;
  overflow: hidden;
  margin: $margin;
  min-height: $min-height;
  min-width: $min-width;
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  &:hover {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  }
  .grid-article__container {
    position: relative;
    min-height: inherit;
    background-color: #ddd;
    &:hover {
      .over-bg {
        background-color: rgba(#fff, .1);
      }
    }
    .over-bg {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      @include degradado;
      transition: background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    }
    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    .grid-article--link {
      position: absolute;
      width: 100%;
      bottom: 0;
      text-decoration: none;
      .grid-article--title {
        color: #fff;
        font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
        font-weight: 700;
        padding: 5px 10px;
        margin-bottom: 4px;
        a {
          color: inherit;
          text-decoration: none;
        }
        h2 {
          font-size: 15px;
          font-weight: inherit;
          display: inline;
          text-shadow: #000 0 0.1em 0.2em;
          margin: 0; // padding: 0;
          line-height: 15px;
        }
        span {
          line-height: 15px;
          font-size: 12px;
          color: #b4b4b4;
          text-shadow: #000 0 0.1em 0.2em;
          display: inline;
          font-weight: 700;
        }
      }
    }
  }
  p.grid-article--desc {
    margin: 0;
    display: none;
    padding: 10px 15px;
    background: #fff;
    font-size: 14px;
    color: #333;
    font-weight: 400;
    text-align: justify;
    line-height: 130%;
    font-family: 'Open Sans', sans-serif;
  }
  @media (max-width: 500px) {
    p.grid-article--desc {
      display: block; // Habilita la descripción.
    }
  }
  @include retina(2) {
    @media only screen and (max-width: 500px) {
      p.grid-article--desc {
        display: block !important; // Habilita la descripción.
      }
    }
  }
}

.grid-articles {
  @include gridable;
  * {
    box-sizing: border-box;
  }
}

.grid-articles__top {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@include retina(2) {
  .grid-articles__top {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media (max-width: (3 * $max-width) + 5px) {
  .grid-articles__top {
    // width: calc(100% - #{(2*$margin)});
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .grid-articles__top--left {
    min-width: 100%;
  }
}

@include retina(2) {
  @media only screen and (max-width: (3 * $max-width) + 5px) {
    .grid-articles__top {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .grid-articles__top--left {
      min-width: 100%;
    }
    .grid-articles__top--left,
    .grid-articles__top--right {
      flex: initial !important;
    }
  }
}

.grid-articles__top--left {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .grid-article {
    min-height: 2 * ($min-height + $margin);
    .grid-article__container {
      .grid-article--title {
        padding: 0 10px 15px 20px;
        h2 {
          font-size: 26px;
          line-height: 28px;
        }
        span {
          font-size: 15px;
        }
      }
    }
  }
}

.grid-articles__top--right {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@include retina(2) {
  .grid-articles__top--left,
  .grid-articles__top--right {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .grid-articles__top--right {
    .grid-article {
      flex: 1 1 auto;
    }
  }
}

@media (max-width: 320px) {
  .grid-article {
    min-width: calc(100% - #{(2*$margin)});
  }
}

@include retina(2) {
  @media only screen and (max-width: 320px) {
    .grid-article {
      min-width: calc(100% - #{(2*$margin)});
    }
  }
}

@media (min-width: 676px) and (max-width: 3 * $max-width) {
  .grid-articles__top--right .grid-article {
    min-width: $max-width;
  }
}

@include retina(2) {
  @media only screen and (min-width: 676px) and (max-width: 3 * $max-width) {
    .grid-articles__top--right .grid-article {
      min-width: $max-width;
    }
  }
}

@media (min-width: 3 * $max-width + 1px) {
  .grid-articles__top {
    flex-direction: row;
  }
}

@include retina(2) {
  @media only screen and (min-width: 3 * $max-width + 1px) {
    .grid-articles__top {
      flex-direction: row;
    }
  }
}

@media (min-width: 3 * $max-width + 1px) and (max-width: 1433px) {
  .grid-articles__top--right .grid-article {
    min-width: 239px;
  }
}

@include retina(2) {
  @media only screen and (min-width: 3 * $max-width + 1px) and (max-width: 1433px) {
    .grid-articles__top--right .grid-article {
      min-width: 239px;
    }
  }
}

@media (min-width: 1434px) {
  .grid-articles__top--right .grid-article {
    min-width: $min-width;
  }
}

@include retina(2) {
  @media only screen and (min-width: 1434px) {
    .grid-articles__top--right .grid-article {
      min-width: $min-width;
    }
  }
}

@media (min-width: 1668px) and (max-width: 2028px) {
  .grid-articles__top--right .grid-article {
    min-width: $max-width;
  }
}

@include retina(2) {
  @media only screen and (min-width: 1668px) and (max-width: 2028px) {
    .grid-articles__top--right .grid-article {
      min-width: $max-width;
    }
  }
}

@media (min-width: 2029px) {
  .grid-articles__top--right .grid-article {
    min-width: (3 / 2) * $max-width;
  }
}

@include retina(2) {
  @media only screen and (min-width: 2029px) {
    .grid-articles__top--right .grid-article {
      min-width: (3 / 2) * $max-width;
    }
  }
}