doctype html
html
  head
    title Demo
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    link(rel='stylesheet', href='/assets/css/app.css')
    //- link(rel='stylesheet', href='/assets/css/scrollable-articles.css')
  body
    div#root !{root}

    script.
      window.__STATE__ = !{state};
    script(src='/assets/js/app.js')