#article_body .button_live a {
  color: #FFF;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em
}

#container {
  margin: 0 auto;
  text-align: left
}

#dynamic_box_left {
  margin: 0;
  float: left
}

#dynamic_box_center {
  float: left
}

#dynamic_box_right {
  margin: 0;
  float: right
}

#content_footer {
  clear: both
}

#footer {
  clear: both
}

#layout_default div#dynamic_box_center {
  width: 100%
}

#main_news_box {
  float: left
}

.main_news_box_row {
  width: 100%;
  overflow: hidden
}

.main_news_category {
  margin: .5em
}

.category_news_category {
  float: left;
  display: inline;
  width: 261px;
  margin: 6px
}

body {
  background: #FFF;
  font-family: 'Ubuntu Condensed', Arial, Helvetica, sans-serif
}

#infinite {
  clear: both;
}

#infinite .img-thumb {
  width: 100px;
  height: 100px;
}

#content {
  padding: 0
}

a {
  color: #000;
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

a img {
  border: 0
}

ul {
  padding: 0;
  margin: 0
}

ul li {
  list-style-type: none
}

h1,
h2,
h3,
h4 {
  margin: 0
}

h1 {
  font-size: 1.3em;
  font-weight: normal
}

h1 a {
  color: #3c7aa9
}

h2 {
  font-size: 28px;
  padding-bottom: .1em
}

h3 {
  font-size: 18px;
  padding-bottom: .1em
}

h2 a:hover,
h3 a:hover {
  color: #3c7aa9
}

.box .box_title {
  font-size: 1.3em;
  font-weight: normal
}

.header_image {
  border-bottom: 3px solid #3c7aa9;
  margin-bottom: .05em;
  background: #eee
}

.escudo_submenu {
  float: left;
  max-width: 31px;
  overflow: hidden
}

.escudo_submenu img {
  height: 32px
}

.box_pages {
  padding: .5em 0 .4em 0;
  background: #DDD;
  background: -moz-linear-gradient(top, white 0, #EEE 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(100%, #EEE));
  background: -webkit-linear-gradient(top, white 0, #EEE 100%);
  background: -o-linear-gradient(top, white 0, #EEE 100%);
  background: -ms-linear-gradient(top, white 0, #EEE 100%);
  background: linear-gradient(top, white 0, #EEE 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
  background-image: url(https://www.vavel.com/themes/mobile/img/bg_grey_mobile.png);
  background-repeat: repeat-x;
  width: 100%;
  height: 52px
}

.logo a {
  background: url(https://www.vavel.com/themes/default/img/vavel_logo_png.png) no-repeat transparent 0 50%;
  background-size: 100%;
  display: block;
  padding-top: 10px;
  width: 110px;
  height: 37px;
  margin: 0 auto;
}

.logo {
  padding: 6px 10px;
  margin-left: auto;
  margin-right: auto;
  width: 188px;
  float: none;
}

.button_live {
  background-image: url(https://www.vavel.com/user/img/bg_save.jpg);
  background-repeat: repeat-x;
  cursor: pointer;
  color: #FFF;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 26px;
  width: 100%;
  font-weight: bold;
  padding: 20px 0px;
  margin-bottom: 0px;
  text-align: center;
}

.box_pages li {
  font-size: 14px;
  font-weight: bold
}

.box_pages a {
  padding: .1em .2em;
  float: left
}

.box_pages a:link,
.box_pages a:visited {
  color: #fff;
  text-decoration: none
}

.box_pages a:hover {
  color: #fff;
  text-decoration: underline
}

.search {
  padding: .5em;
  padding-left: 10px;
  background: #eee;
  text-align: left
}

.search a {
  color: #3c7aa9
}

.search button {
  border: 0;
  font-size: 1em;
  font-weight: normal;
  color: #fff;
  background: #3c7aa9;
  cursor: pointer
}

#box_center_holder {
  padding: 0
}

#box_center_holder h1 {
  border: 0;
  text-align: center;
  font-family: 'Ubuntu Condensed', Arial, Helvetica, sans-serif;
  font-size: 50px;
  letter-spacing: -2px;
  font-weight: 400;
  line-height: 99%;
  color: #333;
  padding: .4em .5em;
  margin-bottom: .1em;
}

#box_center_holder div.category_headline {
  width: 100%;
  overflow: hidden
}

#box_center_holder div.category_headline h2 a {
  color: #3c7aa9;
  font-size: 1.3em;
  font-weight: normal
}

#box_center_holder div.category_headline div.image {
  float: left;
  padding: 0;
  margin-right: 0;
  background-color: #eee
}

div.article_link {
  display: inline;
  padding-left: .3em
}

div.article_link a {
  color: #3c7aa9
}

div.box_body div.image {
  padding: 0;
  float: left;
  margin: 0
}

.short_holder {
  width: 100%;
  overflow: hidden
}

.short {
  border-bottom: .1em solid #EEE;
  padding: 1em;
  background: -moz-linear-gradient(top, white 0, #EEE 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(100%, #EEE));
  background: -webkit-linear-gradient(top, white 0, #EEE 100%);
  background: -o-linear-gradient(top, white 0, #EEE 100%);
  background: -ms-linear-gradient(top, white 0, #EEE 100%);
  background: linear-gradient(top, white 0, #EEE 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0)
}

#latest_news div.short {
  height: 122px
}

#category_news_box div.box_title {
  margin-bottom: .5em
}

#category_news_box div.box_title h4,
#category_news_box div.box_title h4 a {
  font-size: 1.1em;
  color: #172973;
  background: #eee;
  padding: .1em;
  margin-bottom: .1em
}

#category_news_box div.box_title span {
  color: #000;
  font-size: .9em;
  padding: 0 .1em
}

#category_news_box div.box_title span a {
  color: #3c7aa9
}

#category_news_box div.box_title span a:hover {
  color: #000
}

#category_news_box div.box_body ul {
  padding: 0 .5em
}

#category_news_box div.box_body ul li {
  border-bottom: .1em solid #eee;
  padding: .1em 0
}

#category_news_box div.box_body ul li a {
  display: block;
  padding: .2em;
  font-size: .9em
}

#category_holder div.subcategory_list div.box_body {
  padding: .5em
}

.box_breadcrumb {
  padding: 1.0 1.0 0 1.0;
  color: #222;
  font-size: 16px;
  font-weight: bold;
  background-color: #FFF;
  text-transform: uppercase
}

.box_breadcrumb a {
  color: #CCC;
  padding-right: .2em;
  font-weight: 300
}

.desc_abstract {
  font-size: 19px;
  color: #333;
  font-weight: 400;
  text-shadow: #fff 0 1px 0;
  text-align: justify;
  line-height: 130%;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  border: 0;
  text-align: center;
  font-family: 'Ubuntu Condensed', Arial, Helvetica, sans-serif;
  font-size: 44px;
  letter-spacing: -2px;
  font-weight: 400;
  line-height: 99%;
  color: #333;
  padding: .4em .5em;
  margin-bottom: .1em;
}

.article_metadata {
  padding: 0 0 2.1em 0;
  margin-bottom: .3em;
  border-bottom: .1em solid #eee;
  font-size: 14px;
  font-family: 'Ubuntu Condensed', Arial, Helvetica, sans-serif
}

.article_metadata span.metadata_time {
  font-size: .9em;
  color: #666;
  float: left
}

.font_size {
  font-size: .9em;
  text-align: right;
  margin-bottom: 1em
}

.font_size img {
  vertical-align: bottom;
  padding-left: .2em
}

.image {
  padding: .3em;
  border: .1em solid #ccc;
  width: 97%
}

iframe {
  max-width: 285px
}

.image img {
  width: 100%
}

div#article_body figure img {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.image span.image_caption {
  font-size: .9em;
  line-height: normal
}

figure {
  margin: 0px;
}

#article_body {
  line-height: 1.5em;
  overflow: hidden;
  margin-bottom: 1em;
  font-family: Open Sans, Georgia, "Times New Roman", Times, serif;
  font-size: 19px;
  padding: 0em 1em;
  background: #FFF;
}

#article_body figure.image {
  position: relative;
  z-index: 0;
}

.article_text_live {
  font-size: 19px;
  color: #555;
  margin-top: 0;
  padding-top: 0;
  font-family: Open Sans, Georgia, "Times New Roman", Times, serif;
  line-height: 140%;
  text-align: justify;
  margin-bottom: 20px;
}

.article_text_live div,
.article_text_live h2,
.article_text_live p {
  line-height: 140%;
  text-align: justify;
  background-color: #fff;
  padding: 0px 10px 15px 0px;
  border-bottom: 1px #DDD solid;
}

#article_body figcaption {
  text-align: center;
  font-size: 11px;
  padding: 10px;
  color: #FFF;
  font-family: Open Sans, Georgia, sans-serif;
  position: absolute;
  bottom: 15px;
  right: 15px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

#article_body a {
  color: #3c7aa9
}

.content_attachment {
  padding: .5em;
  text-align: right;
  font-size: .9em
}

div.content_attachment img {
  vertical-align: bottom
}

.content_attachment a {
  color: #3c7aa9
}

#box_social_bookmarks {
  color: #666;
  padding: .1em .5em;
  margin: .5em 0 1em 0;
  border-bottom: .1em solid #eee;
  border-top: .1em solid #eee
}

#box_social_bookmarks img {
  vertical-align: middle
}

.comment_block h4 {
  font-family: 'Ubuntu Condensed', Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: #666;
  border-top: .1em solid #eee;
  border-bottom: .1em solid #eee;
  background-color: #f4f4f4;
  padding: .5em;
  margin: .5em 0
}

#comment_list {
  margin: 1.1em .6em
}

#comment_list div.comment_holder {
  margin-bottom: 1.6em
}

#comment_list div.comment_header {
  padding-bottom: .5em
}

#comment_list div.comment_header {
  font-size: .9em
}

#comment_list div.comment_header a {
  color: #3c7aa9;
  font-weight: bold
}

#comment_list div.comment_body_holder {
  padding: .9em;
  border-bottom: .1em solid #ebebeb;
  background-color: #f8f8f8
}

#comment_list div.comment_body {
  width: 100%;
  overflow: hidden
}

#comment_list div.comment_body img {
  float: left
}

#comment_list div.comment_body div.comment_text {
  color: #666;
  margin-left: 50px;
  padding: 0 1em .8em .8em
}

#comment_list div.comment_report {
  float: right
}

#box_pagination {
  padding: .5em;
  margin: .5em 0;
  background: #eee;
  color: #666
}

#box_pagination span.pagination {
  float: right;
  font-weight: bold
}

#box_pagination span.pagination a {
  font-weight: normal;
  color: #3c7aa9
}

#box_pagination span.pagination_total {
  color: #3c7aa9
}

#box_calendar table caption {
  font-weight: bold;
  background-color: #eee;
  border-bottom: .1em solid #ccc;
  padding: .5em 0;
  margin-bottom: .5em
}

#box_calendar table caption a {
  color: #3c7aa9
}

#box_calendar table caption span {
  cursor: pointer;
  padding: 0 .2em
}

#box_calendar table td {
  background-color: #f1f1f1;
  padding: .1em .2em
}

.footer {
  text-align: center;
  padding: .5em 0;
  margin-bottom: .9em;
  color: #666
}

.footer a {
  color: #666
}

.static_footer {
  background-color: #efefef;
  padding: 1em 0 .7em 0
}

.footer ul {
  padding: .5em 0 .5em 0;
  margin: 0
}

.footer li {
  display: inline;
  padding: 0 .5em
}

.footer li a {
  color: #fff
}

.vavel_widget {
  background-image: url(https://www.vavel.com/themes/mobile/img/vavel_mobile_bg.jpg);
  background-repeat: repeat-x;
  width: 100%;
  height: 61px;
  z-index: 9;
  max-height: 61px;
  overflow: hidden;
}

.category_title {
  font-weight: bold;
  font-size: 22px;
  font-family: 'Ubuntu Condensed', Arial, Helvetica, sans-serif;
  padding-top: 7px;
  color: #FFF
}

.category_title_space {
  float: right;
  padding-top: 5px;
  border-top-right-radius: 15px
}

form {
  padding: 0;
  margin: 0
}

textarea {
  border: 1px solid #7f9db9
}

.form_line {
  margin-bottom: 6px;
  padding-bottom: 6px;
  width: 100%;
  overflow: hidden
}

*:first-child+html .form_line {
  margin-bottom: 0;
  padding-bottom: 6px
}

input.text {
  border: 1px solid #7f9db9
}

select.options {
  border: 1px solid #7f9db9
}

input.submit_button,
button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px
}

.formElement p {
  margin-top: 0
}

#dynamic_box_right .form_line div.submit {
  text-align: right
}

#dynamic_box_right .form_line div.submit a {
  float: left;
  padding-top: 3px;
  color: #c90404
}

#dynamic_box_center div.form_line label {
  text-align: right;
  padding: 3px 0 3px 3px;
  display: block;
  float: left;
  width: 30%;
  font-size: 12px;
  color: #666
}

#dynamic_box_center div.formElement {
  float: left;
  margin-left: 6px;
  display: inline;
  z-index: auto
}

#dynamic_box_center div.formElement label {
  padding: 0;
  width: auto;
  text-align: left;
  float: none;
  display: block;
  font-weight: normal
}

.quote_right {
  color: #3c7aa9;
  float: right;
  margin: 6px;
  display: inline;
  width: 200px;
  height: auto;
  background: #f9f9f9;
  border: 1px solid #ccc;
  padding: 6px
}

.quote_right img {
  margin: 4px
}

.quote_left {
  color: #3c7aa9;
  float: left;
  margin: 6px;
  display: inline;
  width: 200px;
  height: auto;
  background: #f9f9f9;
  border: 1px solid #ccc;
  padding: 6px
}

.quote_left img {
  margin: 4px
}

.right_image {
  float: right;
  margin: 6px;
  display: inline
}

.left_image {
  float: left;
  margin: 6px;
  display: inline
}

#score_bar {
  padding-top: 25px;
  width: 100%;
  min-height: 65px;
  background-color: #EEE;
  background: -moz-linear-gradient(top, white 0, #EEE 100%);
  padding-top: 15px;
  margin-bottom: 0px;
  clear: both;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(100%, #EEE));
  background: -webkit-linear-gradient(top, white 0, #EEE 100%);
  background: -o-linear-gradient(top, white 0, #EEE 100%);
  background: -ms-linear-gradient(top, white 0, #EEE 100%);
  background: linear-gradient(top, white 0, #EEE 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
  border-radius: 0;
  border-bottom: 4px #FFF solid;
  margin-bottom: 20px
}

#score_team {
  width: 35%;
  font-size: 24px;
  color: #222;
  font-family: 'Ubuntu Condensed', Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 777;
  padding-top: 10px
}

.score_number {
  background-color: #fff;
  font-size: 44px;
  color: #222;
  line-height: 44px;
  padding: 7px 20px;
  font-weight: bold;
  -moz-border-radius: 55px;
  -webkit-border-radius: 55px;
  border-radius: 55px;
  text-align: center;
  max-width: 30px;
  overflow: hidden
}

.score_team300 {
  float: left;
  font-size: 14px;
  text-transform: uppercase;
  color: #222;
  font-family: 'Ubuntu Condensed', Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 777;
  padding-top: 15px;
  width: 32%
}

.score_number300_1 {
  float: left;
  background-color: #fff;
  font-size: 34px;
  color: #222;
  padding: 5px 15px 5px 15px;
  font-weight: bold;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  margin-right: 5px
}

.score_number300_2 {
  float: right;
  background-color: #fff;
  font-size: 34px;
  color: #777;
  padding: 5px 15px 5px 15px;
  font-weight: bold;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px
}

.score_count {
  float: left;
  width: 36%;
}

.most-popular-image {
  border: 5px #EEE solid;
  float: left;
  margin-right: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px
}

.font_grey_16 {
  color: #999;
  font-family: 'Ubuntu Condensed', Arial, Helvetica, sans-serif;
  font-size: 16px
}

.image_caption {
  text-align: center;
  font-size: 11px;
  font-style: italic;
  line-height: 17px;
  color: #777;
  background-color: #eee;
  padding: 10px;
  border-bottom: 1px #DDD solid;
  border-top: 1px #DDD solid
}

.pd0 {
  padding: 0
}

.pd5 {
  padding: 5px
}

.pd10 {
  padding: 10px
}

.pd15 {
  padding: 15px
}

.pd20 {
  padding: 20px
}

.pdt0 {
  padding-top: 0
}

.pdt5 {
  padding-top: 5px
}

.pdt10 {
  padding-top: 10px
}

.pdt15 {
  padding-top: 15px
}

.pdb5 {
  padding-bottom: 5px
}

.pdb10 {
  padding-bottom: 10px
}

.pdb15 {
  padding-bottom: 15px
}

.pdr5 {
  padding-right: 5px
}

.pdr10 {
  padding-right: 10px
}

.pdr15 {
  padding-right: 15px
}

.pdr20 {
  padding-right: 20px
}

.pdl5 {
  padding-left: 5px
}

.pdl10 {
  padding-left: 10px
}

.pdl15 {
  padding-left: 15px
}

.mg10 {
  margin: 10px
}

.mgt0 {
  margin-top: 0
}

.mgt5 {
  margin-top: 5px
}

.mgt10 {
  margin-top: 10px
}

.mgt15 {
  margin-top: 15px
}

.mgt20 {
  margin-top: 20px
}

.mgb0 {
  margin-bottom: 0
}

.mgb5 {
  margin-bottom: 5px
}

.mgb10 {
  margin-bottom: 10px
}

.mgb15 {
  margin-bottom: 15px
}

.mgb20 {
  margin-bottom: 20px
}

.mgr5 {
  margin-right: 5px
}

.mgr10 {
  margin-right: 10px
}

.mgr15 {
  margin-right: 15px
}

.mgl0 {
  margin-left: 0
}

.mgl5 {
  margin-left: 5px
}

.mgl10 {
  margin-left: 10px
}

.mgl15 {
  margin-left: 15px
}

.ft10,
.ft10 a {
  font-size: 10px
}

.ft12,
.ft12 a {
  font-size: 12px
}

.ft13,
.ft13 a {
  font-size: 13px
}

.ft16,
.ft16 a {
  font-size: 16px
}

.ft20,
.ft20 a {
  font-size: 20px
}

.ft24,
.ft24 a {
  font-size: 24px
}

.clr {
  clear: both
}

.fltl {
  float: left
}

.fltl5u5b {
  float: left;
  padding-top: 5px;
  padding-bottom: 5px
}

.fltl10r {
  padding-right: 10px;
  float: left
}

.fltl15r {
  padding-right: 15px;
  float: left
}

.fltr {
  float: right
}

.author-image {
  float: left;
  margin-right: 20px;
  width: 50px;
  height: 50px;
}

.author-name {
  text-transform: uppercase;
  font-family: 'Ubuntu Condensed', Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.live_bg {
  height: 50px;
  width: 100%;
  clear: both;
  background-image: url(https://www.vavel.com/themes/default/img/bg_menu_vavel.jpg);
  background-repeat: repeat-x;
  padding-left: 10px;
}

.short_holder .image {
  margin-right: 10px;
  max-height: 100px;
  overflow: hidden;
  padding-top: 5px;
  float: left;
  width: 100px;
}

.short_holder .image img {
  padding: 2px;
  border: 1px solid #ccc;
  width: 100px;
  height: 100px;
}

.category_name_mb {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
}

.category_name_mb a {
  color: #888;
}

.h2-article-title {
  padding-top: 3px;
  padding-bottom: 0px;
  font-size: 22px;
  line-height: 110%;
}

.h2-article-title a {
  font-weight: 400;
}

.ad-top1 {
  background-color: #333;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.sb-toggle-left {
  float: left;
  padding: 7px 0px 0px 5%;
  width: auto;
}

.main {
  border: 0px solid #000000;
  padding: 1em 0em 1em 0em;
  text-align: center;
}

.article_text_live {
  font-size: 19px;
  color: #555;
  margin-top: 0;
  padding-top: 0;
  font-family: Open Sans, Georgia, "Times New Roman", Times, serif;
  line-height: 140%;
  text-align: justify;
  margin-bottom: 20px;
}

.article_text_live div,
.article_text_live h2,
.article_text_live p {
  line-height: 140%;
  text-align: justify;
  background-color: #fff;
  padding: 0px 10px 15px 0px;
  border-bottom: 1px #DDD solid;
  margin-bottom: 0;
}

.inner {
  text-align: center;
}