/*!
* Justified Gallery - v3.6.1
* http://miromannino.github.io/Justified-Gallery/
* Copyright (c) 2015 Miro Mannino
* Licensed under the MIT license.
*/
@-webkit-keyframes justified-gallery-show-caption-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.7;
    }
}
@-moz-keyframes justified-gallery-show-caption-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.7;
    }
}
@-o-keyframes justified-gallery-show-caption-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.7;
    }
}
@keyframes justified-gallery-show-caption-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.7;
    }
}
@-webkit-keyframes justified-gallery-show-entry-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1.0;
    }
}
@-moz-keyframes justified-gallery-show-entry-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1.0;
    }
}
@-o-keyframes justified-gallery-show-entry-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1.0;
    }
}
@keyframes justified-gallery-show-entry-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1.0;
    }
}
.justified-gallery {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.justified-gallery #infiniteScroll {
  height: 100%;
}
.justified-gallery > div > a,
.justified-gallery > div > div {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    /* IE8 or Earlier */
}
.justified-gallery > div > a > img,
.justified-gallery > div > img,
.justified-gallery > div > a > a > img,
.justified-gallery > div > div > a > img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    border: none;
}
.justified-gallery>div>a>.caption, 
.justified-gallery>div>div>.caption {
    opacity: 0;
    text-shadow: #000 0 .1em .9em;
    background: url(http://www.vavel.com/vavel/css/bg-black100.png) bottom center repeat-x rgba(255,255,255,0);
    right: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    font-family: "Ubuntu Condensed",Arial,Helvetica,sans-serif;
    font-size: 1.1em;
    padding: 65px 10px 15px 20px;
    position: absolute;
    border-radius: 0;
    margin: 0 auto;
    text-align: center;
    line-height: 1.1em;
    transition: all .3s ease-in;
}
.justified-gallery > div > a:hover > .caption,
.justified-gallery > div > div:hover > .caption {
    opacity: 1;
    filter: "alpha(opacity=100)";
    /* IE8 or Earlier */
   /* -webkit-animation: justified-gallery-show-caption-animation 500ms 0 ease;
    -moz-animation: justified-gallery-show-caption-animation 500ms 0 ease;
    -ms-animation: justified-gallery-show-caption-animation 500ms 0 ease;*/
}
.justified-gallery > div > .entry-visible {
    opacity: 1.0;
    filter: alpha(opacity=100);
    /* IE8 or Earlier */
    -webkit-animation: justified-gallery-show-entry-animation 500ms 0 ease;
    -moz-animation: justified-gallery-show-entry-animation 500ms 0 ease;
    -ms-animation: justified-gallery-show-entry-animation 500ms 0 ease;
}
.justified-gallery > div > .jg-filtered {
    display: none;
}
/*.justified-gallery > div > .spinner {
    position: absolute;
    bottom: 0;
    margin-left: -24px;
    padding: 10px 0 10px 0;
    left: 50%;
    opacity: initial;
    filter: initial;
    overflow: initial;
}*/
/*.justified-gallery > div > .spinner > span {
    display: inline-block;
    opacity: 0;
    filter: alpha(opacity=0);*/
    /* IE8 or Earlier */
  /*  width: 8px;
    height: 8px;
    margin: 0 4px 0 4px;
    background-color: #000;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}*/
#controls {
    position: fixed;
    background-color: darkkhaki;
    padding: 20px;
    z-index: 1;
}