@media screen and (max-width: 990px) {
  html,
  body {
    width: auto;
    overflow-x: hidden;
  }
  .image:hover,
  .modulo3_image:hover,
  .modulo4_image:hover,
  .fb-img a:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    background-color: none
  }
  .menu-background,
  .greybar2_960 {
    width: 100%;
  }
  .center_div {
    width: 100%;
  }
  .center_home {
    float: none;
    width: 100%;
  }
  .headlines-live,
  img.fltl,
  .greybar2 ul li a span,
  .bar1,
  .logo-world-map,
  .menu_icons,
  .tahoma12 a {
    display: none;
  }
  .greybar2 ul {
    display: inline-block;
    float: none;
    margin: 0 auto!important;
    text-align: center;
    width: 100%;
  }
  .greybar2 ul li img {
    margin: 5px auto;
    padding: 0 7px;
    line-height: 30px;
  }
  #menuholder_top .sb-toggle-left {
    float: left;
    padding: 14px;
    width: auto;
  }
  #menuholder_top .sb-toggle-right {
    float: right;
    padding: 14px;
    width: auto;
  }
  .sb-toggle-left,
  .sb-toggle-right,
  .sb-open-left,
  .sb-open-right,
  .sb-close {
    cursor: pointer;
  }
  .navicon-line {
    background-color: #fff;
    border-radius: 1px;
    height: 4px;
    margin-bottom: 3px;
    width: 24px;
  }
  .greybar2 ul li a img,
  .greybar2 ul li a span.flag {
    display: block;
  }
  .logo-vavel-menu,
  .logo-vavel-menu a {
    float: none;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .logo-vavel-menu a img {
    margin: 0 auto;
  }
  .submenu_vavel {
    display: none;
  }
  .jp-container {
    display: none;
  }
  .sb-slidebar .submenu_vavel {
    display: block;
  }
  .sb-slidebar .jp-container {
    display: block;
    width: 100%;
  }
  .headlines960 {
    width: 100%;
  }
  .sb-slidebar .submenu_vavel,
  .sb-slidebar .submenu_960 {
    height: auto;
    display: inline-block;
    width: 100%;
  }
  .sb-slidebar .home-search {
    height: auto;
    display: inline-block;
    width: 100%;
  }
  .sb-slidebar .home-search p {
    font-family: "Ubuntu Condensed", Arial, Helvetica, sans-serif;
    height: auto;
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    font-size: 20px;
    color: #01baf0;
    font-weight: bold;
    text-align: center;
    margin: 5px auto;
    padding: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  }
  .sb-slidebar .home-search .form_busqueda {
    height: auto;
    display: inline-block;
    width: 100%;
    float: none!important;
    width: 100%!important;
    margin: 5px auto!important;
    padding: 0!important;
  }
  nav ul.sb-menu li a {
    height: auto;
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid #000000;
    line-height: 50px;
    color: #FFFFFF;
    font-size: 18px;
    text-align: left;
    padding: 0 0 0 10px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    background: url("https://img.vavel.com/themes/img/bg_menu_vavel.jpg") repeat-x scroll 0 -15px rgba(0, 0, 0, 0);
    font-family: "Ubuntu Condensed", Arial, Helvetica, sans-serif;
  }
  nav ul.sb-menu li a:hover,
  nav.sb-menu li a:focus {
    color: #f4f442;
  }
  #spotlight2 #slider3-wrapper {
    width: 100%;
  }
  #slider3-wrapper,
  .slider_background {
    height: auto;
    padding: 0;
  }
  #spotlight2 #slider3 {
    width: 100%;
    height: auto;
    padding: 0;
  }
  #spotlight2 #slider3 .ui-tabs-panel {
    width: 100%;
    height: auto;
  }
  #spotlight2 #slider3 .ui-tabs-panel,
  #spotlight2 #slider3 .ui-tabs-panel a {
    max-height: 400px;
    min-height: 400px;
    overflow-y: hidden;
  }
  .ui-tabs-panel a img {
    min-height: 400px;
  }
  #spotlight2 #slider3 .ui-tabs-panel a.category {
    display: none;
    max-height: inherit;
    min-height: inherit;
    overflow-y: hidden;
  }
  #slider3 .ui-tabs-panel {
    height: auto;
  }
  .ui-tabs-panel a img {
    max-width: 100%;
    height: auto;
    display: block;
    width: 100%;
  }
  #spotlight2 #slider3 ul.ui-tabs-nav {
    display: table;
    left: 0;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 997;
  }
  #slider3 ul.ui-tabs-nav li {
    padding: 0;
    display: table-cell;
    width: 1%;
    text-align: center;
  }
  #slider3 li.ui-tabs-nav-item a,
  #slider3 li.ui-tabs-nav-item a:hover,
  #slider3 li.ui-tabs-nav-item a:focus {
    background: none;
    float: none;
    padding: 5px 0;
    margin: 0;
  }
  #slider3 ul.ui-tabs-nav li.ui-tabs-selected a,
  #slider3 ul.ui-tabs-nav li.ui-tabs-selected a:hover,
  #slider3 ul.ui-tabs-nav li.ui-tabs-selected a:focus {
    background: none;
    float: none;
    padding: 5px 0;
    margin: 0;
  }
  #slider3 li.ui-tabs-nav-item a span {
    display: none;
  }
  .square-over {
    display: block;
    text-shadow: #000 0 0.1em 0.9em;
    height: auto;
    background: url(http://www.vavel.com/vavel/css/bg-black100.png) bottom center scroll repeat-x rgba(255, 255, 255, 0);
    bottom: 0;
    color: #fff;
    display: block;
    font-family: "Ubuntu Condensed", Arial, Helvetica, sans-serif;
    font-size: 30px;
    left: 0;
    padding: 50px 10px 20px 10px;
    position: absolute;
    width: auto;
    top: auto;
    left: 0;
    right: 0;
    border-radius: 0px;
    margin: 0 auto;
    text-align: center;
  }
  #slider3 ul.ui-tabs-nav li img {
    margin: 0 auto;
    float: none;
    width: 60%;
    max-height: 100px;
  }
  #slider3 li.ui-tabs-selected {
    background: none;
  }
  .main_news_category {
    width: 100%;
    display: inline-block;
  }
  #moduloA,
  #moduloB,
  #moduloAD,
  #moduloD,
  #moduloC {
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  #moduloA #modulo1,
  #moduloA #modulo2,
  #moduloA #modulo3 {
    display: block;
    float: none;
    margin: 5px auto;
    width: 98%;
    text-align: left;
  }
  .modulo2_image1,
  .modulo2_image2 {
    width: 48%;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
  }
  .modulo4_home {
    width: 48%;
    display: inline-block;
    margin: 0 auto;
    padding: 0 0 0 2%;
  }
  .box_pagination {
    padding: 0;
  }
  #box_pagination,
  #box_pagination span.pagination {
    width: 95%;
    display: block;
    padding: 0;
    margin: 5px auto;
  }
  /*.articles-related-cut-img a {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .articles-related-cut-img a img {
        margin: 0 auto;
        max-width: 100%;
    }
    .articles-related-img {
        display: block;
        float: left;
        margin: 2px auto;
        padding: 0;
        width: 40%;
    }*/
  .submenu_960 {
    width: 100%;
  }
  .jp-container .breaking_new a {
    display: block;
    width: 95%;
    margin: 0 auto;
    text-align: center;
    line-height: normal;
  }
  .jp-container .antetitulo,
  .jp-container .widget_new,
  .jp-container .summary {
    line-height: normal;
    display: block;
    width: 95%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0px 0px 0px;
  }
  .jp-container .summary {
    font-size: 11px;
    text-align: left;
  }
  .articles-related-cut-img {
    max-height: none;
  }
  .pdt0.modulobody {
    display: inline-block;
    text-align: left;
    padding-left: 10px;
  }
  /* .sticky-wrapper .antetitulo,
    .sticky-wrapper .articles-related-title {
        width: 50%;
        text-align: left;
        float: right;
    }*/
  .moduloheadfst {
    width: 100%;
    padding-left: 10px;
    text-align: center;
  }
  .modulohead {
    text-align: left;
    width: 100%;
    padding-left: 10px;
  }
  #box_pagination,
  #box_pagination span.pagination {
    width: 100%;
    text-align: center;
  }
  #box_pagination {
    height: auto;
  }
  .summary,
  .big {
    width: 98%;
  }
  ul#submenu_holder {}
  ul#submenu_holder li {
    width: 20%;
    float: left;
  }
  ul#submenu_holder li a {
    float: none;
    margin: 0 auto;
  }
  .sb-left {
    border-right: 10px solid #111111;
    box-shadow: 20px 0px 20px 10px rgba(0, 0, 0, 0.7);
  }
  .sb-right {
    border-left: 10px solid #111111;
    box-shadow: -20px 0px 20px 10px rgba(0, 0, 0, 0.7);
  }
  .form_busqueda form {
    background-image: none;
    background-color: #FFFFFF;
    border: 1px solid d7d7d7;
    border-radius: 5px;
    width: 175px;
  }
  .greybar2 ul li {
    float: none;
    display: inline-block;
    margin-bottom: 10px;
  }
  .modulo3_image {
    max-height: 150px;
    min-height: 150px;
    overflow: hidden;
    max-width: 500px;
  }
  .modulo3_image a {
    display: block;
  }
  .modulo3_image span.square-over2c {
    display: none;
  }
  .main_news_category #moduloA #modulo1 {
    display: inline-block;
    width: 32%;
    padding-right: 1%;
    float: left;
  }
  .main_news_category #moduloA #modulo2 {
    display: inline-block;
    width: 32%;
    float: left;
    padding-left: 1%;
  }
  .main_news_category #moduloA #modulo3 {
    display: inline-block;
    width: 32%;
    float: right;
  }
  .main_news_category h3.moduloheadfst {
    float: left;
    width: 60%;
    text-align: left;
  }
  .main_news_category .modulo2_image1 .image,
  .main_news_category .modulo2_image2 .image,
  .main_news_category .modulo2_image1 .image img,
  .main_news_category .modulo2_image2 .image img {
    width: 100%;
  }
  .modulo2_image1,
  .modulo2_image2,
  .image,
  h3.antetitulo,
  h2.big,
  .summary,
  .modulo4_home {
    margin: 1% auto;
  }
  .main_news_category .modulo4_home .image {
    float: left;
    width: auto;
  }
  .author_zone .author_bar_full .submenu_liquid {
    margin: 0 auto;
    min-width: 750px;
    width: 75%;
  }
  .main_news_category .sticky-wrapper {
    display: none;
  }
  footer.footer_fixed {
    display: none;
  }
  .tags_bar {
    width: 95%;
    display: inline-block;
    margin: 0 auto;
    padding: 10px 15px;
  }
  #infinite {
    padding: 0 2% 0 2%
  }
  #moduloC h2 {
    text-align: left;
    margin-top: 10px;
  }
  .main_news_category h3.moduloheadfst {
    float: left;
    width: 50%;
    text-align: left;
  }
  .main_news_category h2 span.autor_georgia {
    text-align: left;
  }
  .main_news_category #moduloA h2 span.autor_georgia {
    text-align: left;
  }
  aside .modulo2_image2 {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  #infinite {
    padding: 0 0 0 0
  }
  .vavel_widget,
  .widgetbox {
    display: none;
  }
  html,
  body {
    width: auto;
    overflow-x: hidden;
    width: 100%;
  }
  #container_main_page {
    padding-bottom: 60px;
  }
  .menu-background,
  .greybar2_960 {
    width: 100%;
  }
  .center_div {
    width: 100%;
  }
  .center_home {
    float: none;
    width: 100%;
  }
  .headlines-live,
  img.fltl,
  .greybar2 ul li a span,
  .bar1,
  .logo-world-map,
  .menu_icons,
  .tahoma12 a {
    display: none;
  }
  .greybar2 ul {
    display: inline-block;
    float: none;
    margin: 0 auto!important;
    text-align: center;
    width: 100%;
  }
  .greybar2 ul li img {
    margin: 5px auto;
    padding: 0 7px;
    line-height: 30px;
  }
  #menuholder_top .sb-toggle-left {
    float: left;
    padding: 14px;
    width: auto;
  }
  #menuholder_top .sb-toggle-right {
    float: right;
    padding: 14px;
    width: auto;
  }
  .sb-toggle-left,
  .sb-toggle-right,
  .sb-open-left,
  .sb-open-right,
  .sb-close {
    cursor: pointer;
  }
  .navicon-line {
    background-color: #fff;
    border-radius: 1px;
    height: 4px;
    margin-bottom: 3px;
    width: 24px;
  }
  .greybar2 ul li a img,
  .greybar2 ul li a span.flag {
    display: block;
  }
  .logo-vavel-menu,
  .logo-vavel-menu a {
    float: none;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .logo-vavel-menu a img {
    margin: 0 auto;
  }
  .submenu_vavel {
    display: none;
  }
  .jp-container {
    display: none;
  }
  .sb-slidebar .submenu_vavel {
    display: block;
  }
  .sb-slidebar .jp-container {
    display: block;
  }
  .headlines960 {
    width: 100%;
  }
  .sb-slidebar .submenu_vavel,
  .sb-slidebar .submenu_960 {
    height: auto;
    display: inline-block;
    width: 100%;
  }
  .sb-slidebar .home-search {
    height: auto;
    display: inline-block;
    width: 100%;
  }
  .sb-slidebar .home-search p {
    font-family: "Ubuntu Condensed", Arial, Helvetica, sans-serif;
    height: auto;
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    font-size: 20px;
    color: #01baf0;
    font-weight: bold;
    text-align: center;
    margin: 5px auto;
    padding: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  }
  .sb-slidebar .home-search .form_busqueda {
    height: auto;
    display: inline-block;
    width: 100%;
    float: none!important;
    width: 100%!important;
    margin: 5px auto!important;
    padding: 0!important;
  }
  nav ul.sb-menu li a {
    height: auto;
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid #000000;
    line-height: 50px;
    color: #FFFFFF;
    font-size: 18px;
    text-align: left;
    padding: 0 0 0 10px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    background: url("https://img.vavel.com/themes/img/bg_menu_vavel.jpg") repeat-x scroll 0 -15px rgba(0, 0, 0, 0);
    font-family: "Ubuntu Condensed", Arial, Helvetica, sans-serif;
  }
  nav ul.sb-menu li a:hover,
  nav.sb-menu li a:focus {
    color: #f4f442;
  }
  #spotlight2 #slider3-wrapper {
    width: 100%;
  }
  #slider3-wrapper,
  .slider_background {
    height: auto;
  }
  #spotlight2 #slider3 {
    width: 100%;
    height: auto;
    padding: 0;
  }
  #spotlight2 #slider3 .ui-tabs-panel {
    width: 100%;
    height: auto;
  }
  #slider3 .ui-tabs-panel {
    height: auto;
  }
  .ui-tabs-panel a img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  #spotlight2 #slider3 ul.ui-tabs-nav {
    display: table;
    left: 0;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 997;
  }
  #slider3 ul.ui-tabs-nav li {
    padding: 0;
    display: table-cell;
    width: 1%;
    text-align: center;
  }
  #slider3 li.ui-tabs-nav-item a,
  #slider3 li.ui-tabs-nav-item a:hover,
  #slider3 li.ui-tabs-nav-item a:focus {
    background: none;
    float: none;
    padding: 5px 0;
    margin: 0;
  }
  #slider3 ul.ui-tabs-nav li.ui-tabs-selected a,
  #slider3 ul.ui-tabs-nav li.ui-tabs-selected a:hover,
  #slider3 ul.ui-tabs-nav li.ui-tabs-selected a:focus {
    background: none;
    float: none;
    padding: 5px 0;
    margin: 0;
  }
  #spotlight2 #slider3 .ui-tabs-panel,
  #spotlight2 #slider3 .ui-tabs-panel a {
    max-height: 220px;
    min-height: 220px;
    overflow-y: hidden;
  }
  .ui-tabs-panel a img {
    min-height: 220px;
  }
  #spotlight2 #slider3 .ui-tabs-panel a.category {
    display: none;
    max-height: inherit;
    min-height: inherit;
    overflow-y: hidden;
  }
  #slider3 li.ui-tabs-nav-item a span {
    display: none;
  }
  .square-over {
    display: block;
    text-shadow: #000 0 0.1em 0.9em;
    height: auto;
    background: url(http://www.vavel.com/vavel/css/bg-black100.png) bottom center scroll repeat-x rgba(255, 255, 255, 0);
    ;
    bottom: 0;
    color: #fff;
    display: block;
    font-family: "Ubuntu Condensed", Arial, Helvetica, sans-serif;
    font-size: 23px;
    left: 0;
    padding: 50px 10px 20px 10px;
    position: absolute;
    width: auto;
    top: auto;
    left: 0;
    right: 0;
    border-radius: 0px;
    margin: 0 auto;
    text-align: center;
  }
  #slider3 ul.ui-tabs-nav li img {
    margin: 0 auto;
    float: none;
    width: 100%;
    max-height: 75px;
  }
  #slider3 li.ui-tabs-selected {
    background: none;
  }
  .main_news_category {
    width: 100%;
    display: inline-block;
  }
  #moduloA,
  #moduloB,
  #moduloAD,
  #moduloD,
  #moduloC {
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  #moduloA #modulo1,
  #moduloA #modulo2,
  #moduloA #modulo3 {
    display: block;
    float: none;
    margin: 5px auto;
    width: 98%;
    text-align: center;
  }
  #moduloA .modulo3_image,
  #moduloA h3.antetitulo,
  #moduloA h2.pdt0,
  #moduloA span.autor_georgia {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 8px;
    display: block;
    width: 100%;
  }
  .modulo2_image1,
  .modulo2_image2,
  h3.antetitulo,
  h2.big,
  .modulo4_home {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }
  .box_pagination {
    padding: 0;
  }
  #box_pagination,
  #box_pagination span.pagination {
    width: 95%;
    display: block;
    padding: 0;
    margin: 5px auto;
  }
  /*.articles-related-cut-img a {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .articles-related-cut-img a img {
        margin: 0 auto;
        max-width: 100%;
    }
    .articles-related-img {
        display: block;
        float: left;
        margin: 2px auto;
        padding: 0;
        width: 40%;
    }*/
  .submenu_960 {
    width: 100%;
  }
  .jp-container .breaking_new {
    background: -moz-linear-gradient(center top, #f9f9f9 0px, #e0e0e0 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #d8dfea;
  }
  .jp-container .breaking_new:hover {
    background: #FFFFFF;
  }
  .jp-container .breaking_new a {
    display: block;
    width: 95%;
    margin: 0 auto;
    text-align: center;
    line-height: normal;
  }
  /*  .articles-related-cut-img {
        max-height: none;
    }*/
  .pdt0.modulobody {
    display: inline-block;
    text-align: left;
    padding-left: 10px;
  }
  /* .sticky-wrapper .antetitulo,
    .sticky-wrapper .articles-related-title {
        width: 50%;
        text-align: left;
        float: right;
    }*/
  .moduloheadfst {
    width: 100%;
    padding-left: 10px;
    text-align: center;
  }
  .modulohead {
    text-align: left;
    width: 100%;
    padding-left: 10px;
  }
  #box_pagination,
  #box_pagination span.pagination {
    width: 100%;
    text-align: center;
  }
  #box_pagination {
    height: auto;
  }
  .summary,
  .big {
    width: 98%;
  }
  ul#submenu_holder {}
  ul#submenu_holder li {
    width: 20%;
    float: left;
  }
  ul#submenu_holder li a {
    float: none;
    margin: 0 auto;
  }
  .sb-left {
    border-right: 10px solid #111111;
    box-shadow: 20px 0px 20px 10px rgba(0, 0, 0, 0.7);
  }
  .sb-right {
    border-left: 10px solid #111111;
    box-shadow: -20px 0px 20px 10px rgba(0, 0, 0, 0.7);
  }
  .form_busqueda form {
    background-image: none;
    background-color: #FFFFFF;
    border: 1px solid d7d7d7;
    border-radius: 5px;
    width: 175px;
  }
  .greybar2 ul li {
    float: none;
    display: inline-block;
  }
  .main_news_category h3.moduloheadfst,
  .main_news_category #moduloA h2.pdt0,
  .main_news_category #moduloA h2 span.autor_georgia {
    float: none;
    text-align: center;
    display: inline-block;
    width: 95%;
    padding: 0;
  }
  .main_news_category #moduloA .modulo3_image,
  .main_news_category #moduloA .modulo3_image a {
    width: 100%;
    display: block;
    float: none;
  }
  .main_news_category #moduloA .modulo3_image a img,
  .main_news_category #moduloB .modulo2_image1 .image a img,
  .main_news_category #moduloB .modulo2_image2 .image a img,
  .main_news_category #moduloAD .modulo2_image1 .image a img,
  .main_news_category #moduloAD .modulo2_image2 .image a img,
  .main_news_category #moduloD .modulo2_image1 .image a img,
  .main_news_category #moduloD .modulo2_image2 .image a img,
  .main_news_category #moduloC .modulo4_home .image a img {
    margin: 0 auto;
    width: 100%;
  }
  .main_news_category #moduloB .modulo2_image1 .image,
  .main_news_category #moduloB .modulo2_image2 .image,
  .main_news_category #moduloAD .modulo2_image1 .image,
  .main_news_category #moduloAD .modulo2_image2 .image,
  .main_news_category #moduloD .modulo2_image1 .image,
  .main_news_category #moduloD .modulo2_image2 .image,
  .main_news_category #moduloC .modulo4_home .image {
    display: block;
    width: 100%;
  }
  h2,
  h2.big {
    font-size: 30px;
    line-height: 110%!important;
  }
  #infinite .image,
  .modulo1_image,
  .modulo2_image,
  .modulo3_image {
    max-height: 350px!important;
    overflow: hidden;
    margin-bottom: 10px!important;
  }
  .main_news_category #moduloA #modulo1,
  .main_news_category #moduloA #modulo2,
  .main_news_category #moduloA #modulo3 {
    width: 100%;
    display: block;
    padding: 0;
  }
  .main_news_category .modulo2_image1 .image,
  .main_news_category .modulo2_image2 .image {
    float: none;
    width: auto;
    max-height: 300px!important;
  }
  .main_news_category h3.moduloheadfst {
    float: none;
    width: 95%;
    text-align: center;
  }
  .main_news_category h2.pdt0,
  #moduloC h2 {
    float: none;
    width: 95%;
    text-align: center;
    padding: 0;
  }
  .main_news_category h2 span.autor_georgia {
    text-align: center;
  }
  .main_news_category .summary {
    display: none!important;
  }
  .main_news_category h3.modulohead {
    float: none;
    text-align: center;
    width: 95%;
  }
  .modulo2_image1,
  .modulo2_image2,
  .image,
  h3.antetitulo,
  h2.big,
  .summary,
  .modulo4_home {
    margin: 1% auto;
  }
  .modulo3_image {
    max-height: inherit;
    max-width: inherit;
  }
  .author_profile {
    width: 100%;
  }
  .author_zone .author_bio {
    width: 100%;
    margin-bottom: 15px;
  }
  .author_zone .author_bar_full .submenu_liquid {
    background: url(http://www.vavel.com/themes/default/img/bg-blue-author.jpg) 0 0 repeat;
  }
  .author_zone .author_bar_full .submenu_liquid .fltl {
    float: none;
  }
  .author_zone .author_bar_full .submenu_liquid .mgr5p {
    margin: 0;
  }
  .author_zone .author_bar_full .submenu_liquid .author_bar_module,
  .author_zone .author_bar_full .submenu_liquid .author_bar_module2,
  .author_zone .author_bar_full .submenu_liquid .author_bar_text {
    float: none;
  }
  .author_zone .author_bar_full .submenu_liquid .author_bar_module3 {
    float: none;
    width: 100%;
  }
  h1.antetitulo {
    float: lef;
    text-align: center;
    width: 100%;
    display: block;
  }
  span.antetitulo {
    float: none;
    text-align: center;
    width: 100%;
    display: block;
  }
  #list h2,
  #list span,
  #list .autor_georgia {
    padding: 0;
    margin: 0 auto;
    display: block;
    width: 98%;
    text-align: center;
  }
  .author_zone {
    display: inline-block;
    width: 100%;
    min-height: 315px;
    margin-bottom: 25px;
    clear: both;
  }
  .author_bar {
    height: auto;
    max-height: 100%;
    display: block;
  }
  /*.author_bar .author_bar_left {
        display: table;
        text-align: center;
        width: 70%;
        float: none;
        clear: both;
        margin: 0 auto;
    }*/
  .author_bar aside .fltl {
    display: table-cell;
    width: 1%;
    text-align: center;
    padding: 0;
    margin: 0;
    float: none;
  }
  .author_bar aside .fltl a,
  .author_bar aside .fltl a span {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .tags_bar {
    width: 95%;
    display: inline-block;
    margin: 0 auto;
    padding: 10px 15px;
  }
  .tags_bar_container {
    width: 100%;
  }
  .tags_bar_container .tags_word,
  .tags_bar_container h1 {
    float: none;
    display: block;
  }
}

@media screen and (min-width: 640px) and (max-width: 640px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .container_main_page {
    padding-bottom: 60px;
  }
  .main_news_category .modulo2_image1 .image,
  .main_news_category .modulo2_image2 .image {
    float: left;
    width: auto;
  }
  .modulo2_image1,
  .modulo2_image2,
  .image,
  h3.antetitulo,
  h2.big,
  .summary,
  .modulo4_home {
    margin: 1% auto;
  }
  .main_news_category h3.modulohead {
    float: left;
    text-align: left;
    width: 50%;
  }
  .main_news_category h2.pdt0 {
    float: left;
    padding-left: 10px;
    text-align: left;
    width: 50%;
  }
  #slider3 ul.ui-tabs-nav li img {
    float: none;
    margin: 0 auto;
    max-height: 130px;
    width: 100%;
  }
  #spotlight2 #slider3 .ui-tabs-panel,
  #spotlight2 #slider3 .ui-tabs-panel a {
    max-height: 550px;
    min-height: 550px;
    overflow-y: hidden;
  }
  #spotlight2 #slider3 .ui-tabs-panel a.category {
    display: none;
    max-height: inherit;
    min-height: inherit;
    overflow-y: hidden;
  }
  .ui-tabs-panel a img {
    min-height: 550px;
  }
  .modulo3_image {
    max-height: inherit;
    max-width: inherit;
  }
  .author_bar aside {
    width: 40%;
  }
}

@media screen and (max-width: 479px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
  #slider3 ul.ui-tabs-nav li img {
    float: none;
    margin: 0 auto;
    max-height: 130px;
    width: 100%;
  }
  #infinite .image,
  .modulo1_image,
  .modulo2_image,
  .modulo3_image {
    max-height: 200px!important;
    overflow: hidden;
    margin-bottom: 10px!important;
  }
}

@media screen and (min-width: 480px) and (max-width: 990px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
  #slider3 ul.ui-tabs-nav li img {
    float: none;
    margin: 0 auto;
    max-height: 170px;
    width: 100%;
  }
}

ul.sb-menu li ul.drop-menu {
  display: none;
}

.triangle {
  position: relative;
  top: 15px;
  left: 10px;
  width: 0;
  height: 0;
  border-bottom: 0;
  border-top: 7px solid #FFF;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  -moz-transform: scale(.9999);
}

@media screen and (max-width: 990px) {
  ul.sb-menu li ul,
  ul.sb-menu li ul {
    padding: 0;
    margin: 0;
    background: rgba(1, 123, 172, 1);
  }
  ul.sb-menu li ul li a strong,
  ul.sb-menu li ul li a strong {
    line-height: 40px;
  }
  ul.sb-menu li ul li a,
  ul.sb-menu li ul li a {
    padding: 12px 0 12px 10px;
    margin: 0;
    background: none;
    border: none;
    line-height: 23px;
    text-shadow: none;
    font-size: 15px;
    border-bottom: 1px solid #FFFFFF;
  }
  ul.sb-menu li ul li ul li a {
    padding-left: 30px;
    background-color: #222;
  }
  ul.sb-menu li ul li ul li a i.triangle {
    position: relative;
    top: 12px;
    left: 10px;
  }
  /*  .box-white-cat{display:none;}
    .box-white-cat.articles-related{display:visible !important;)*/
}

@media screen and (max-width: 767px) {
  ul.sb-menu li ul,
  ul.sb-menu li ul {
    padding: 0;
    margin: 0;
    background: rgba(1, 123, 172, 1);
  }
  ul.sb-menu li ul li a strong,
  ul.sb-menu li ul li a strong {
    line-height: 40px;
  }
  ul.sb-menu li ul li a,
  ul.sb-menu li ul li a {
    padding: 12px 0 12px 10px;
    margin: 0;
    background: none;
    border: none;
    line-height: 23px;
    text-shadow: none;
    font-size: 15px;
    border-bottom: 1px solid #FFFFFF;
  }
  ul.sb-menu li ul li ul li a {
    padding-left: 30px;
    background-color: #222;
  }
  .author_bar aside {
    display: none;
  }
}