@media screen and (max-width:1054px) {
  #article_column_newspaper {
    display: none
  }
  #article_newspaper {
    margin-right: 0
  }
  #article_newspaper .image_ipad_newspaper {
    padding-top: 3px;
    padding-bottom: 5px;
    float: right;
    margin-left: 25px;
    display: block
  }
  #article_newspaper .article-header {
    min-height: 190px
  }
  .box-white-cat-newspaper-bar {
    margin-bottom: 20px;
    min-height: 27px;
    padding-top: 6px;
    display: block
  }
}

#article_zone .article-content iframe,
#article_zone .article-content img,
#article_zone .article-content object,
#article_zone .article-content table {
  display: none
}

.newspaper_container {
  width: 97%;
  margin: 0 auto
}

#article_zone .article-content blockquote,
#article_zone .article-content cite {
  width: 100%
}

#article_zone {
  margin-right: 320px;
  padding: 10px 20px 12px 10px
}

#article_zone .article-content {
  padding-bottom: 10px;
  -moz-column-count: 3;
  -moz-column-gap: 2em;
  -webkit-column-count: 3;
  -webkit-column-gap: 2em
}

#article_zone .author_bar_newspaper {
  height: 63px
}

#article_zone .image_ipad_newspaper {
  padding-top: 15px;
  padding-bottom: 5px;
  float: right;
  margin-left: 25px;
  display: none
}

#article .column425 {
  width: 440px;
  float: left;
  margin: 0
}

#article .column425 img {
  width: 420px;
  max-width: 420px!important;
  overflow: hidden
}

#article .column425 iframe {
  max-width: 440;
  width: 440px;
  overflow: hidden
}

#article .column425 #score_bar {
  margin-bottom: 0
}

#article .column425 .article-content {
  padding-bottom: 25px
}

#article .column425 .article-content blockquote,
#article .column425 .article-content cite {
  width: 100%
}

#article .column160 {
  float: right;
  width: 160px
}

#article .ads160 {
  margin-left: -5px;
  padding-top: 10px;
  width: 165px;
  clear: both
}

#article .last_news160 {
  padding-bottom: 7px;
  padding-top: 7px;
  border-bottom: #DDD solid 1px
}

#article .last_news160_related {
  width: 160px;
  float: left;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: #FFF solid 4px
}

#article .last_news160_related .last_news160_image {
  border: 7px #FFF solid;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .15);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .15);
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, .15);
  box-shadow: 0 0 3px rgba(0, 0, 0, .15)
}

#article .last_news160_related .last_news160_image_content {
  max-height: 90px;
  overflow: hidden
}

#article .last_news160_related h3 {
  padding-top: 8px;
  font-size: 22px;
  line-height: 110%;
  padding-bottom: 10px
}

#article .last_news160_related h3 a {
  font-weight: 400;
  color: #333;
  font-family: 'Ubuntu Condensed', Arial, Helvetica, sans-serif
}

#article .last_news160_related h3 a:hover {
  font-weight: 100;
  color: #FFF
}

#article .last_news160 h3 {
  font-size: 14px;
  font-family: 'Ubuntu Condensed', Arial, Helvetica, sans-serif
}

#article .last_news160 h3 a {
  font-weight: 100;
  color: #888;
  line-height: 110%
}

#article .last_news160 h3 a:hover {
  color: #FFF
}

.newspaper_container .column160 {
  float: right;
  width: 160px;
  padding-left: 35px;
  padding-top: 15px
}

.newspaper_container .ads160 {
  margin-left: -5px;
  padding-top: 10px;
  width: 165px;
  clear: both
}

.newspaper_container .last_news160 {
  padding-bottom: 7px;
  padding-top: 7px;
  border-bottom: #DDD solid 1px
}

.newspaper_container .last_news160_related {
  width: 160px;
  float: left;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: #FFF solid 4px
}

.last_news160_title {
  font-family: 'Ubuntu Condensed', Arial, Helvetica, sans-serif;
  padding-bottom: 15px;
  font-size: 24px;
  font-weight: 400;
  color: #222
}

.newspaper_container .last_news160_related .last_news160_image {
  border: 7px #FFF solid;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .15);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .15);
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, .15);
  box-shadow: 0 0 3px rgba(0, 0, 0, .15)
}

.newspaper_container .last_news160_related .last_news160_image_content {
  max-height: 90px;
  overflow: hidden
}

.newspaper_container .last_news160_related h3 {
  padding-top: 8px;
  font-size: 22px;
  line-height: 110%;
  padding-bottom: 10px
}

.newspaper_container .last_news160_related h3 a {
  font-weight: 400;
  color: #333;
  font-family: 'Ubuntu Condensed', Arial, Helvetica, sans-serif
}

.newspaper_container .last_news160_related h3 a:hover {
  font-weight: 100;
  color: #FFF
}

.newspaper_container .last_news160 h3 {
  font-size: 14px;
  font-family: 'Ubuntu Condensed', Arial, Helvetica, sans-serif
}

.newspaper_container .last_news160 h3 a {
  font-weight: 100;
  color: #888;
  line-height: 110%
}

.newspaper_container .last_news160 h3 a:hover {
  color: #FFF
}

table,
td,
tr {
  background-color: #fff;
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  border-top: 0 solid #e8e8e8;
  border-left: 0 solid #e8e8e8!important
}

td {
  padding-top: 7px;
  padding-bottom: 7px
}

table {
  padding-bottom: 0 0 10px 0;
  margin-top: 0;
  width: 610px;
  min-width: 630px!important;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .15);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .15);
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, .15);
  box-shadow: 0 0 3px rgba(0, 0, 0, .15);
  margin-bottom: 20px;
  font-size: 16px
}

pre {
  background-color: #FFF;
  background-repeat: repeat-x;
  width: 590px;
  padding: 15px 20px 10px;
  font: 22px Ubuntu Condensed, Georgia, "Times New Roman", Times, serif;
  color: #222;
  height: 34px;
  text-align: left;
  margin-bottom: 0;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .15);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .15);
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, .15);
  box-shadow: 0 0 3px rgba(0, 0, 0, .15)
}

.article-content h4 {
  background: -moz-linear-gradient(top, #fff 0, #EEE 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(100%, #EEE));
  background: -webkit-linear-gradient(top, #fff 0, #EEE 100%);
  background: -o-linear-gradient(top, #fff 0, #EEE 100%);
  background: -ms-linear-gradient(top, #fff 0, #EEE 100%);
  background: linear-gradient(top, #fff 0, #EEE 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
  width: 590px;
  padding: 15px 20px 10px;
  font: 22px Ubuntu Condensed, Georgia, "Times New Roman", Times, serif!important;
  color: #222;
  height: 32px;
  text-align: left;
  margin-bottom: 0
}

#ad300 {
  min-height: 150px;
  width: 300px
}

.twitter-share-button {
  float: left!important
}

.date_article {
  font-size: 18px;
  font-weight: 400;
  float: left;
  text-shadow: #fff 0 1px 0;
  text-align: justify;
  line-height: 130%;
  font-family: 'Open Sans', sans-serif;
  color: #999;
  padding-right: 5px
}

.article-content h3,
.article_text h3,
.article_text_live h3 {
  font-size: 20px;
  font-weight: 700
}

@media screen and (max-width:990px) {
  #content_article {
    background-image: none;
    float: none;
    width: 100%
  }
  .sb-toggle-left,
  .sb-toggle-right {
    display: block;
  }
  #article,
  #article_column,
  .greybar2_960,
  .menu-background,
  .submenu_960 {
    width: 100%;
    float: none;
    margin: 0 auto;
    clear: both;
    padding: 0
  }
  .articles-related-title {
    font-size: 24px;
    padding-top: 5px;
  }
  .article-header,
  .article-content,
  footer,
  article .clr {
    width: 92%;
    margin: 0 auto;
  }
  figure {
    width: 100%;
  }
  body {
    min-width: 320px
  }
  #right-column iframe,
  #right-column #ad300,
  #right iframe,
  #right #ad300 {
    display: none;
  }
  #article .column425 img,
  #article .column425 {
    width: 100%;
    max-width: 100%!important;
  }
  .author_bar .author_bar_left .mgb5 {
    float: left;
    margin: 0 10px 0 0;
    padding: 0;
    line-height: 60px;
  }
  .author_bar .author_bar_left .social_data {
    float: left;
    padding: 0;
    margin: 0;
    line-height: 70px;
  }
  #score_team {
    font-size: 18px !important;
  }
  .score_number {
    font-size: 20px !important;
    padding: 5px 10px;
  }
  .antetitulo {
    display: none;
  }
  .articles-related-new300,
  .bar1,
  .column160,
  .logo_lives,
  .menu_icons,
  .tw_button_bar,
  #bg_wc_bar {
    display: none
  }
  #menuholder_top .sb-toggle-left {
    float: left;
    padding: 0px 1%;
    width: auto;
  }
  #menuholder_top .sb-toggle-right {
    float: right;
    padding: 0px 1%;
    width: auto;
  }
  .sb-toggle-left,
  .sb-toggle-right,
  .sb-open-left,
  .sb-open-right,
  .sb-close {
    cursor: pointer;
  }
  .navicon-line {
    background-color: #fff;
    border-radius: 1px;
    height: 4px;
    margin-bottom: 3px;
    width: 24px;
  }
  .greybar2_960 {
    padding-top: 11px;
  }
  .greybar2 ul {
    display: inline-block;
    float: none;
    margin: 0 auto!important;
    text-align: center;
    width: 100%;
  }
  .greybar2 ul li {
    float: none;
    display: inline-block;
    margin-bottom: 12px;
  }
  .greybar2 ul li a span {
    display: none;
  }
  .greybar2 ul li a img,
  .greybar2 ul li a span.flag {
    display: block;
  }
  .headlines960 {
    width: 100%;
  }
  .sb-slidebar .submenu_vavel,
  .sb-slidebar .submenu_960 {
    height: auto;
    display: inline-block;
    width: 100%;
  }
  .sb-slidebar .home-search {
    height: auto;
    display: inline-block;
    width: 100%;
  }
  .sb-slidebar .home-search p {
    font-family: "Ubuntu Condensed", Arial, Helvetica, sans-serif;
    height: auto;
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    font-size: 20px;
    color: #01baf0;
    font-weight: bold;
    text-align: center;
    margin: 5px auto;
    padding: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  }
  .sb-slidebar .home-search .form_busqueda {
    height: auto;
    display: inline-block;
    width: 100%;
    float: none!important;
    width: 100%!important;
    margin: 5px auto!important;
    padding: 0!important;
  }
  nav ul.sb-menu li a {
    height: auto;
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid #000000;
    line-height: 50px;
    color: #FFFFFF;
    font-size: 18px;
    text-align: left;
    padding: 0 0 0 10px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    background: url("https://img.vavel.com/themes/img/bg_menu_vavel.jpg") repeat-x scroll 0 -15px rgba(0, 0, 0, 0);
    font-family: "Ubuntu Condensed", Arial, Helvetica, sans-serif;
  }
  nav ul.sb-menu li a:hover,
  nav.sb-menu li a:focus {
    color: #f4f442;
  }
  ul#submenu_holder {}
  ul#submenu_holder li {
    width: 20%;
    float: left;
  }
  ul#submenu_holder li a {
    float: none;
    margin: 0 auto;
  }
  .sb-left {
    border-right: 10px solid #111111;
    box-shadow: 20px 0px 20px 10px rgba(0, 0, 0, 0.7);
  }
  .sb-right {
    border-left: 10px solid #111111;
    box-shadow: -20px 0px 20px 10px rgba(0, 0, 0, 0.7);
  }
  .triangle {
    position: relative;
    top: 14px;
    left: 10px;
    width: 0;
    height: 0;
    border-bottom: 0;
    border-top: 7px solid #FFF;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    -moz-transform: scale(.9999);
  }
  ul.sb-menu li ul.drop-menu {
    display: none;
  }
  ul.sb-menu li ul,
  ul.sb-menu li ul {
    padding: 0;
    margin: 0;
    background: rgba(1, 123, 172, 1);
  }
  ul.sb-menu li ul li a strong,
  ul.sb-menu li ul li a strong {
    line-height: 40px;
  }
  ul.sb-menu li ul li a,
  ul.sb-menu li ul li a {
    padding: 12px 0 12px 10px;
    margin: 0;
    background: none;
    border: none;
    line-height: 23px;
    text-shadow: none;
    font-size: 15px;
    border-bottom: 1px solid #FFFFFF;
  }
  .article-content img,
  .live_bg {
    width: 100%
  }
  .ad728 {
    min-width: 320px;
    padding-right: 0
  }
  .box-white-most-popular,
  .circle-corners10 {
    width: inherit
  }
  .articles-related {
    max-height: inherit;
    height: inherit;
    min-height: 50px;
    margin-bottom: 15px
  }
  .ad728 {
    min-height: 50px;
    height: inherit
  }
  .article-content,
  header {
    font-size: 130%!important
  }
  .article-content img,
  .article_text_live img {
    max-width: 95%;
    height: auto
  }
  .article-content table img,
  .article_text_live table img {
    display: none;
  }
  .score_number {
    font-size: 20px;
    padding: 5px 10px
  }
  #score_team {
    font-size: 18px
  }
  .article-content img,
  .article_text img,
  .article_text_live img,
  .article_text_video img,
  img.article-image {
    width: 100%;
    margin-left: 0;
    float: none;
    height: auto;
    border: none;
    border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-radius-topleft: 0px;
    border-top-right-radius: 0px;
    moz-border-radius-topright: 0px;
    -webkit-border-radius-topright: 0px;
  }
  .menu-background,
  iframe {
    width: 95%
  }
  .image_article {
    margin-left: 0;
    float: none;
    width: 95%
  }
  .logo-vavel-menu {
    width: 100%;
    text-align: center;
  }
  .logo-world-map,
  .submenu_18 {
    display: none
  }
  table,
  tbody,
  td,
  th,
  thead,
  tr {
    display: block
  }
  table {
    width: 95%!important;
    min-width: 95%!important
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px
  }
  tr {
    border: 1px solid #ccc
  }
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative
  }
  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap
  }
}

@media screen and (max-width:500px) {
  .author_bar aside {
    clear: both
  }
  blockquote,
  cite,
  span.quote_left,
  span.quote_right {
    width: 100%;
    margin: 0 20px 30px 0;
  }
  .articles-related,
  .ad728 {
    min-height: 50px;
  }
  .article-header h1,
  .article-header h2 {
    font-size: 44px;
  }
  iframe {
    max-width: 95%
  }
  table {
    max-width: 95%;
    overflow: hidden
  }
}

@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Condensed'), local('UbuntuCondensed-Regular'), url(http://themes.googleusercontent.com/static/fonts/ubuntucondensed/v3/DBCt-NXN57MTAFjitYxdrFzqCfRpIA3W6ypxnPISCPA.woff) format('woff')
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff')
}

.sb-toggle-left {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 8888;
}

.sb-toggle-right {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 8899;
}

#sb-site,
.sb-site-container {
  width: 100%;
  position: relative;
  z-index: 1;
  background-color: #f6f6f6;
  background-image: url(https://img.vavel.com/themes/img/background2.jpg);
  background-repeat: repeat;
  background-position: center;
}

.sb-slidebar {
  height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  z-index: 0;
  display: none;
  background-color: #222222;
  -webkit-transform: translate(0px);
  -moz-transform: translate(0px);
  -o-transform: translate(0px);
  transform: translate(0px);
}

.sb-left {
  left: 0;
}

.sb-right {
  right: 0;
}

html.sb-static .sb-slidebar,
.sb-slidebar.sb-static {
  position: absolute;
}

.sb-slidebar.sb-active {
  display: block;
}

.sb-style-overlay {
  z-index: 9999;
}

.sb-momentum-scrolling {
  -webkit-overflow-scrolling: touch;
}

.sb-slidebar {
  width: 30%;
}

.sb-width-thin {
  width: 15%;
}

.sb-width-wide {
  width: 45%;
}

@media (max-width: 480px) {
  .sb-slidebar {
    width: 70%;
  }
  .sb-width-thin {
    width: 55%;
  }
  .sb-width-wide {
    width: 85%;
  }
}

@media (min-width: 481px) {
  .sb-slidebar {
    width: 55%;
  }
  .sb-width-thin {
    width: 40%;
  }
  .sb-width-wide {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .sb-slidebar {
    width: 40%;
  }
  .sb-width-thin {
    width: 25%;
  }
  .sb-width-wide {
    width: 55%;
  }
}

@media (min-width: 992px) {
  .sb-slidebar {
    width: 30%;
  }
  .sb-width-thin {
    width: 15%;
  }
  .sb-width-wide {
    width: 45%;
  }
}

@media (min-width: 1200px) {
  .sb-slidebar {
    width: 20%;
  }
  .sb-width-thin {
    width: 5%;
  }
  .sb-width-wide {
    width: 35%;
  }
}

.sb-hide {
  display: none;
}